.ico{fill:transparent;width:20px;min-width:20px;height:20px;stroke-width: var(--icon-stroke-default);}
.ico-sm{min-width:18px !important;width:18px !important;height:18px !important;}
.ico-xs{min-width:16px !important;width:16px !important;height:16px !important;}

.ico-bold{stroke-width: var(--icon-stroke-bold);}