.ico{fill:transparent;width:20px;min-width:20px;height:20px;stroke-width: var(--icon-stroke-regular);color:var(--icon-color-default)}

/* size */
.ico-xs{width:16px;min-width:16px;height:16px;}
.ico-sm{width:18px;min-width:18px;height:18px;}
.ico-md{width:20px !important;min-width:20px !important;height:20px !important;}
.ico-lg{width:24px;min-width:24px;height:24px;}

/* color */
.ico-white{color:var(--base-color-white)}
.ico-gray{color:var(--icon-color-default)}
.ico-lightgray{color:var(--icon-color-lighter) !important;}
.ico-primary{color:var(--icon-color-primary)}
.ico-error{color:var(--icon-color-error)}
.ico-warning{color:var(--icon-color-warning)}
.ico-success{color:var(--icon-color-success)}

/* weight */
.ico-regular{stroke-width: var(--icon-stroke-regular);}
.ico-bold{stroke-width: var(--icon-stroke-bold);}