#wrapper h2,
#wrapper h3,
#wrapper h4,
#wrapper h5 {margin-bottom:10px;}



/* left area */
.left_area {display:flex;flex-direction:column;border-right:1px solid #ddd;height:calc(100vh - 48px);min-width:240px;}
.left_head {display:flex;align-items:center;height:50px;border-bottom:1px solid rgba(255,255,255,.2);overflow:hidden;}
.left_head .btn_navi {position:absolute;display:inline-block;width:23px;height:19px;left:15px;top:15px;background:url(../img/layout/icon_menu.png) no-repeat left top;}
.left_head h1 {display:inline-block;padding:0 16px;font-size:18px;font-weight:600;}
.left_head h1 svg{width:100px;}
.menuitem.on{border-radius:8px;color:var(--font-color-primary);background-color:var(--bg-color-tonal-default);}

.wrap .containe{transition:.3s;}
.wrap .left_area{left:0;transition:.3s;}
.wrap:not(.is-expand) .left_area{left:-240px;transition:.3s;}
.wrap:not(.is-expand) .container{padding-left:0;transition:.3s;}
.wrap:not(.is-expand) .btn-navToggle{transform:rotate(180deg);}
/* navi */
.navi{flex:1;overflow-y:auto;padding:24px 12px;}
.navi > li{margin-bottom:24px;}
.navi > li strong{margin-bottom:8px;padding-left:8px;color:#777;}
.navi li a span {font-size:15px;font-weight:500;margin-top:-1px;display:inline-block}
.navi a {display:block;line-height:1em;}
.navi a:hover,
.navi a.open{opacity:1;}
.navi li a {margin-bottom:4px;padding:12px;font-weight:normal;width:100%;}

/* .right_head {position:fixed;left:240px;right:0;background:#fff;z-index:1;} */
.right_head h2 {font-size:20px;}

.dq_footer {position:fixed;left:240px;right:0;bottom:0;background:#fff;}

.gd-desc {margin-bottom:20px;line-height:1.5em;}
h2+.gd-desc {margin-top:10px;font-size:18px;}
.code-body+.gd-desc,  
.gd-content-wrap .gd-desc:last-child {margin-bottom:0;}
.code-body+.gd-desc {border:1px solid #e5e5e5;border-top:none;padding:20px;}

.gd-content-wrap {display:none;position:relative;padding-top:40px;}
/* .content > .gd-content-wrap:first-child {padding-top:0;} */
/* .gd-content-wrap > h2 {margin-bottom:20px !important;font-weight:bold;color:#111;} */
.gd-example {position:relative;border:1px solid rgba(0,0,0,.1);border-bottom:none;padding:30px;margin-top:25px;}
.gd-example::before {content:"EXAMPLE";position:absolute;left:5px;top:-9px;background:#fff;display:inline-block;font-size:12px;padding:0 5px;color:#ccc;font-weight:lighter;letter-spacing:2px;}

.gd-example-wrap {margin-bottom:40px;}
.gd-content-wrap .gd-content > .gd-example-wrap:last-child {margin-bottom:0;}

.code-body {position:relative;}
.code-body + .code-body {margin-top:10px;}
.code-body > button.btn-clipboard-copy {display:block !important;position:absolute;z-index:1;right:10px;top:-28px;display:none;transition:all 1.2s ease}
.code-body > button.btn-clipboard-copy.on::before {content:"Copied!";font-size:11px;color:#000;background:rgba(255,255,255,.8);position:absolute;line-height:1em;width:fit-content;white-space:nowrap;top:3px;right:calc(100% + 7px);padding:3px 5px;border-radius:2px;transition:all .2s ease}
/* .code-body:hover > button.btn-clipboard-copy {display:block;white-space: nowrap;} */
.code-body.maxh-none .syntaxhighlighter {max-height:none !important}

.syntaxhighlighter {padding:10px 0;}
.syntaxhighlighter::-webkit-scrollbar-track {background-color:transparent;}
.syntaxhighlighter::-webkit-scrollbar-thumb {background-color:rgba(255, 255, 255, .3);border-radius:3px;}
.syntaxhighlighter::-webkit-scrollbar-thumb:hover {background-color:rgba(255, 255, 255, .5);} 
.syntaxhighlighter::-webkit-scrollbar {width:12px;height:12px;background-color:rgba(255, 255, 255, .3);}
.syntaxhighlighter {border:none;padding:10px 0;}
.syntaxhighlighter .gutter * {color:rgba(255,255,255,.4)}

.class-wrap {color:#750d0d;background:#f3dbdb;padding:0 3px;border-radius:3px;font-size:12px;border:1px dotted #e2a7a7;margin:0 3px;line-height:1.2em;display:inline-block;}
.style-wrap {color:#5f520a;background:#f0edce;padding:0 3px;border-radius:3px;font-size:12px;border:1px dotted #d6ce9f;margin:0 3px;line-height:1.2em;display:inline-block;}

/**/
/* .wrap{height: 100vh;} */
/* header{display:flex;align-items:center;padding:8px 40px;border-bottom:1px solid #ddd;justify-content:space-between;} */
footer{padding:0 40px;}
.wrap .container{display: flex;flex-direction:column;padding:0;padding-left:240px;}
.content{flex:1;height:100vh;padding:0 40px 40px !important;}

/* h4{font-size:15px;font-weight:500;} */



.syntaxhighlighter{
  max-height:450px;
}

/* .guide-page h3{font-size:18px;} */

.right_head{display:flex;align-items:center;padding:0 40px;border-bottom:1px solid #eee;height:50px;}
.container{max-width:100%;}
.float-right{margin-left:auto;}

.h-100 .syntaxhighlighter{max-height:100% !important;}

.left_area{position:fixed;top:48px;left:0;min-width:240px;}
/* .container{position:absolute;top:0;right:0;} */

.menuitem{transition:.3s}


.wrap .syntaxhighlighter{background-color:#f8f8f8 !important;}
.wrap .syntaxhighlighter .line.alt1,
.wrap .syntaxhighlighter .line.alt2{background-color:transparent !important}
.wrap .syntaxhighlighter .gutter .line{display:none !important}
.wrap .syntaxhighlighter .keyword{color:#c6303e !important}
.wrap .syntaxhighlighter .string, .wrap .syntaxhighlighter .string a{color:#0344bf !important;}
.wrap .syntaxhighlighter .color1, .wrap .syntaxhighlighter .color1 a{color:#3a3967 !important;}
.wrap .syntaxhighlighter .comments, .wrap .syntaxhighlighter .comments a{font-size:13px !important;}
.wrap .syntaxhighlighter .toolbar{display:none !important;}

.code-head{display:flex;padding:8px 10px;background-color:#f8f8f8;border:1px solid #eaeaea;border-bottom:0;}
.code-head .tit{font-size:14px;font-weight:400;}
.code-head button{margin-left:auto;}


.info-wrap{background-color:#f4fbff;padding:16px 16px;}

.syntaxhighlighter::-webkit-scrollbar{background-color:#eee;}
.syntaxhighlighter::-webkit-scrollbar-thumb{background-color:#ddd;border-radius:0;}
.syntaxhighlighter:hover::-webkit-scrollbar-thumb{background-color:#aaa;}

.wrap{min-width:100% !important}

.badge-variables{display:inline-flex;align-items:center;padding:2px 4px 2px 8px;background-color:#fff5ec;border:1px solid #f5e4d5;border-radius:4px;}
.badge-variables + .badge-variables{margin-top:4px;}
.btn-copy, .btn-clipboard-copy{
  width:18px;height:18px;  
  margin-left:4px;
  opacity: .8;
  background-size:16px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='none'%3E%3Cpath stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.6' d='M6.666 5.833V12.5a1.667 1.667 0 0 0 1.667 1.667h5M6.666 5.833V4.167A1.667 1.667 0 0 1 8.333 2.5h3.822c.22 0 .433.088.589.244l3.678 3.679a.833.833 0 0 1 .244.589V12.5A1.667 1.667 0 0 1 15 14.167h-1.667M6.666 5.833H5A1.667 1.667 0 0 0 3.333 7.5v8.333A1.666 1.666 0 0 0 5 17.5h6.666a1.667 1.667 0 0 0 1.667-1.667v-1.666'/%3E%3C/svg%3E");
  }
.btn-copy svg{display:none;width:18px;height:18px;opacity: .8;}

.badge-class{display:inline-flex;align-items:center;padding:2px 4px 2px 8px;border:1px solid #eee;background-color:#f5f5f5;border-radius:4px;}
.badge-class .btn-copy{margin-left:4px;}

/* ================================================================================================== */

/* header */
.guide-page header{display:flex;justify-content:space-between;align-items:center;padding:0 24px;position:sticky;top:0;height:48px;border-bottom:1px solid var(--border-color-default);background-color:#fff;z-index:200;}
.guide-page header h1{display:flex;align-items:center;font-size:20px;font-weight:bold;}
.guide-page header h1 span{display:inline-block;margin-left:12px;}

/* common */
.info-area{margin-left:20px;}
.info-area li{position:relative;font-size:16px;line-height:1.6;}
.info-area li strong{font-weight:600;}
.info-area li.depth1{list-style:disc;margin-bottom:8px;}
.info-area li.depth1:last-child{margin-bottom:0;}
.info-area li > ul{padding-left:14px;}
.gap-8px{gap:8px;}
.gd-infoArea{margin-bottom:40px;padding:24px;background-color:#f5f8fd;border-radius:16px;font-size:16px;}

.button-textLink{color:#0313AA;}


/* layout */
/* .gd-wrap .content{width:auto;min-width:auto;max-width:1024px;margin:0 auto;} */
article{margin-bottom:100px;}
.section-list{margin-bottom:56px;}
.section-list:last-child{margin-bottom:0;}

/* guide table */
.gdTable-wrap{box-shadow:inset 0 0 0 1px #eee;border-radius:10px;overflow:auto;}
.gdTable{min-width:900px;width:100%;border-radius:12px;overflow:hidden;}
.gdTable th{padding:14px 14px;border:1px solid #eee;background-color:#f8f8f8;}
.gdTable td{padding:14px 14px;border:1px solid #eee}
.gdTable .default td{background-color:#f8f8f8;}

/* typo */
h2{
  margin-bottom:72px;
  font-size:50px;
  font-weight:bold;
  line-height:1.2;
  /* background-color: rgba(255, 255, 255, 0.6);
	-webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  z-index: 100; */
}

h3{margin-bottom:26px;font-size:34px;font-weight:bold;line-height:1.2;}
h4{margin-bottom:16px;font-size:22px;font-weight:600;}

.gd-content{position:relative;width:calc(100% - 200px);}
.index-nav{position:fixed;top:88px;right:0;width:200px;padding:0 24px;}
.index-nav span{color:#888;font-weight:600;}
.index-nav > ul > li{margin-bottom:8px;}
.index-nav ul > li > ul{padding-left:10px;}
.index-nav li{margin:2px 0;font-size:13px;}
.index-nav li a{color:#444;}
.index-nav li a:hover{color:#000;font-weight:500;}
.index-nav .tit{border-bottom:1px solid #eee;margin-bottom:4px;padding-bottom:4px;font-weight:600;}

/* icon */
.icoList{line-height:14px;gap:8px;margin-left:4px;}
.icoList li{display:flex;flex-wrap: wrap;justify-content:center;align-items:flex-end;;width:calc(16.666% - 8px);height:130px;background-color:#f8f8f8;}
.icoList li .ico{width:24px;height:24px;}
.icoList li .icoName{display:flex;align-items:center;justify-content:center;width:100%;font-size:12px;text-align: center;line-height:14px;margin-bottom:10px;}
.icoList li .icoName .btn-copy{margin-left:4px;}

.btn-copy{display:inline-flex;width:16px !important;height:16px !important;}
.btn-copy svg{width:16px !important;height:16px !important;}

/* themeSel-area */
.button-theme-area{position:relative;}
.theme-area{position:absolute;top:100%;right:0;width:240px;padding:16px;border:1px solid var(--border-color-default);border-radius:var(--border-radius-lg);background-color:#fff;box-shadow:var(--shadow-md);}
.theme-area{display:none;justify-content:space-around;margin-top:4px;}
.theme-area ul{display:flex;gap:12px;}
.theme-area svg{color:var(--bg-color-primary);}

.theme-area label{display:inline-flex;align-items: center;justify-content: center;width:28px;height:28px;border-radius: 50%;font-size:0;cursor: pointer;}
.theme-area input{ position:absolute;
  width:1px;height:1px;
  clip: rect(0 0 0 0);
  margin:-1px;
  overflow: hidden;}
.theme-area input:checked + label::after{
  content:'';
  display:block;
  width:32px;
  height:32px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='11' fill='none'%3E%3Cpath fill='%23fff' fill-rule='evenodd' d='M13.53.97a.75.75 0 0 1 0 1.06l-8.25 8.25a.75.75 0 0 1-1.06 0L.47 6.53a.75.75 0 0 1 1.06-1.06l3.22 3.22L12.47.97a.75.75 0 0 1 1.06 0Z' clip-rule='evenodd'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  background-size:16px;
}
#admin-theme-yellow + label{background-color:var(--base-color-yellow-500);border:2px solid var(--base-color-yellow-600)}
#admin-theme-red + label{background-color:var(--base-color-red-500);border:2px solid var(--base-color-red-600)}
#admin-theme-green + label{background-color:var(--base-color-green-500);border:2px solid var(--base-color-green-600)}
#admin-theme-blue + label{background-color:var(--base-color-blue-500);border:2px solid var(--base-color-blue-600)}
#admin-theme-purple + label{background-color:var(--base-color-purple-500);border:2px solid var(--base-color-purple-600)}
#admin-theme-black + label{background-color:var(--base-color-black-500);border:2px solid var(--base-color-black-600)}

.preview-area{padding:20px;border:1px solid #eee;border-bottom:0;}

.example-area{padding:24px;background-color:#f5f5f5;border-radius:16px;}
.example-area ul{display:flex;gap:16px}
.example-area ul li{width:33.333%;padding:24px 16px;background-color:#fff;text-align:center}
.example-area ul li span{}

.btn-navToggle{width:32px;height:32px;}