<div class="gd-content-wrap" id="n_buttons">
  <aside class="index-nav">
    <p class="tit">On this page</p>
    <ul>
      <li><a href="#style">Style</a></li>
      <li><a href="#size">Size</a></li>
      <li><a href="#disabeld">Disabeld</a></li>
    </ul>
  </aside>

  <div class="gd-content">
    <h2>Button</h2>
    <article>
      <!-- <h3 class="gd-subTit">Class & Token</h3> -->
      <section class="section-list">
        <h4 id="style">Style</h4>
        <div class="gdTable-wrap">
          <table class="gdTable">
            <colgroup>
              <col style="width:">
              <col style="width:">
            </colgroup>
            <thead>
              <tr>
                <th>Preview</th>
                <th>Class</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <div class="d-flex gap-8px">
                    <button type="button" class="button button-primary">primary</button>
                    <button type="button" class="button button-primary button-md" aria-label="추가">
                      <svg class="ico" role="presentation" aria-hidden="true" focusable="false">
                        <use xlink:href="#ico-plus_circle"></use>
                      </svg>
                      <span class="label">primary</span>
                      <svg class="ico" role="presentation" aria-hidden="true" focusable="false">
                        <use xlink:href="#ico-plus_circle"></use>
                      </svg>
                    </button>

                    <button type="button" class="button button-primary button-md ico-only" aria-label="추가">
                      <svg class="ico" role="presentation" aria-hidden="true" focusable="false">
                        <use xlink:href="#ico-plus_circle"></use>
                      </svg>
                    </button>
                  </div>
                </td>
                <td>
                  <span class="badge-class">
                    <em class="copyTxt">.button-primary</em>
                    <button class="btn-copy" data-tooltip="tooltip" data-placement="top" data-original-title="코드복사">
                      <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M6.66634 5.83333V12.5C6.66634 12.942 6.84194 13.366 7.1545 13.6785C7.46706 13.9911 7.89098 14.1667 8.33301 14.1667H13.333M6.66634 5.83333V4.16667C6.66634 3.72464 6.84194 3.30072 7.1545 2.98816C7.46706 2.67559 7.89098 2.5 8.33301 2.5H12.1547C12.3757 2.50005 12.5876 2.58788 12.7438 2.74417L16.4222 6.4225C16.5785 6.57874 16.6663 6.79067 16.6663 7.01167V12.5C16.6663 12.942 16.4907 13.366 16.1782 13.6785C15.8656 13.9911 15.4417 14.1667 14.9997 14.1667H13.333M6.66634 5.83333H4.99967C4.55765 5.83333 4.13372 6.00893 3.82116 6.32149C3.5086 6.63405 3.33301 7.05797 3.33301 7.5V15.8333C3.33301 16.2754 3.5086 16.6993 3.82116 17.0118C4.13372 17.3244 4.55765 17.5 4.99967 17.5H11.6663C12.1084 17.5 12.5323 17.3244 12.8449 17.0118C13.1574 16.6993 13.333 16.2754 13.333 15.8333V14.1667" stroke="currentColor" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"></path>
                      </svg>
                    </button>
                  </span> 
                </td>
              </tr>
              <tr>
                <td>
                  <div class="d-flex gap-8px">
                    <button type="button" class="button button-outline">outline</button>
                    <button type="button" class="button button-outline button-md" aria-label="추가">
                      <svg class="ico" role="presentation" aria-hidden="true" focusable="false">
                        <use xlink:href="#ico-plus_circle"></use>
                      </svg>
                      <span class="label">outline</span>
                      <svg class="ico" role="presentation" aria-hidden="true" focusable="false">
                        <use xlink:href="#ico-plus_circle"></use>
                      </svg>
                    </button>
                    <button type="button" class="button button-outline button-md ico-only" aria-label="추가">
                      <svg class="ico" role="presentation" aria-hidden="true" focusable="false">
                        <use xlink:href="#ico-plus_circle"></use>
                      </svg>
                    </button>
                  </div>
                </td>
                <td>
                  <span class="badge-class">
                    <em class="copyTxt">.button-outline</em>
                    <button class="btn-copy" data-tooltip="tooltip" data-placement="top" data-original-title="코드복사">
                      <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M6.66634 5.83333V12.5C6.66634 12.942 6.84194 13.366 7.1545 13.6785C7.46706 13.9911 7.89098 14.1667 8.33301 14.1667H13.333M6.66634 5.83333V4.16667C6.66634 3.72464 6.84194 3.30072 7.1545 2.98816C7.46706 2.67559 7.89098 2.5 8.33301 2.5H12.1547C12.3757 2.50005 12.5876 2.58788 12.7438 2.74417L16.4222 6.4225C16.5785 6.57874 16.6663 6.79067 16.6663 7.01167V12.5C16.6663 12.942 16.4907 13.366 16.1782 13.6785C15.8656 13.9911 15.4417 14.1667 14.9997 14.1667H13.333M6.66634 5.83333H4.99967C4.55765 5.83333 4.13372 6.00893 3.82116 6.32149C3.5086 6.63405 3.33301 7.05797 3.33301 7.5V15.8333C3.33301 16.2754 3.5086 16.6993 3.82116 17.0118C4.13372 17.3244 4.55765 17.5 4.99967 17.5H11.6663C12.1084 17.5 12.5323 17.3244 12.8449 17.0118C13.1574 16.6993 13.333 16.2754 13.333 15.8333V14.1667" stroke="currentColor" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"></path>
                      </svg>
                    </button>
                  </span> 
                </td>
              </tr>
              <tr>
                <td>
                  <div class="d-flex gap-8px">
                    <button type="button" class="button-outlineTonal">outlineTonal</button>
                    <button type="button" class="button button-outlineTonal button-md" aria-label="추가">
                      <svg class="ico" role="presentation" aria-hidden="true" focusable="false">
                        <use xlink:href="#ico-plus_circle"></use>
                      </svg>
                      <span class="label">outlineTonal</span>
                      <svg class="ico" role="presentation" aria-hidden="true" focusable="false">
                        <use xlink:href="#ico-plus_circle"></use>
                      </svg>
                    </button>
                    <button type="button" class="button-outlineTonal button-md ico-only" aria-label="추가">
                      <svg class="ico" role="presentation" aria-hidden="true" focusable="false">
                        <use xlink:href="#ico-plus_circle"></use>
                      </svg>
                    </button>
                  </div>
                </td>
                <td>
                  <span class="badge-class">
                    <em class="copyTxt">.button-outlineTonal</em>
                    <button class="btn-copy" data-tooltip="tooltip" data-placement="top" data-original-title="코드복사">
                      <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M6.66634 5.83333V12.5C6.66634 12.942 6.84194 13.366 7.1545 13.6785C7.46706 13.9911 7.89098 14.1667 8.33301 14.1667H13.333M6.66634 5.83333V4.16667C6.66634 3.72464 6.84194 3.30072 7.1545 2.98816C7.46706 2.67559 7.89098 2.5 8.33301 2.5H12.1547C12.3757 2.50005 12.5876 2.58788 12.7438 2.74417L16.4222 6.4225C16.5785 6.57874 16.6663 6.79067 16.6663 7.01167V12.5C16.6663 12.942 16.4907 13.366 16.1782 13.6785C15.8656 13.9911 15.4417 14.1667 14.9997 14.1667H13.333M6.66634 5.83333H4.99967C4.55765 5.83333 4.13372 6.00893 3.82116 6.32149C3.5086 6.63405 3.33301 7.05797 3.33301 7.5V15.8333C3.33301 16.2754 3.5086 16.6993 3.82116 17.0118C4.13372 17.3244 4.55765 17.5 4.99967 17.5H11.6663C12.1084 17.5 12.5323 17.3244 12.8449 17.0118C13.1574 16.6993 13.333 16.2754 13.333 15.8333V14.1667" stroke="currentColor" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"></path>
                      </svg>
                    </button>
                  </span> 
                </td>
              </tr>
              <tr>
                <td>
                  <div class="d-flex gap-8px">
                    <button type="button" class="button-fill">fill</button>
                    <button type="button" class="button button-fill button-md" aria-label="추가">
                      <svg class="ico" role="presentation" aria-hidden="true" focusable="false">
                        <use xlink:href="#ico-plus_circle"></use>
                      </svg>
                      <span class="label">fill</span>
                      <svg class="ico" role="presentation" aria-hidden="true" focusable="false">
                        <use xlink:href="#ico-plus_circle"></use>
                      </svg>
                    </button>
                    <button type="button" class="button-fill button-md ico-only" aria-label="추가">
                      <svg class="ico" role="presentation" aria-hidden="true" focusable="false">
                        <use xlink:href="#ico-plus_circle"></use>
                      </svg>
                    </button>
                  </div>
                </td>
                <td>
                  <span class="badge-class">
                    <em class="copyTxt">.button-fill</em>
                    <button class="btn-copy" data-tooltip="tooltip" data-placement="top" data-original-title="코드복사">
                      <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M6.66634 5.83333V12.5C6.66634 12.942 6.84194 13.366 7.1545 13.6785C7.46706 13.9911 7.89098 14.1667 8.33301 14.1667H13.333M6.66634 5.83333V4.16667C6.66634 3.72464 6.84194 3.30072 7.1545 2.98816C7.46706 2.67559 7.89098 2.5 8.33301 2.5H12.1547C12.3757 2.50005 12.5876 2.58788 12.7438 2.74417L16.4222 6.4225C16.5785 6.57874 16.6663 6.79067 16.6663 7.01167V12.5C16.6663 12.942 16.4907 13.366 16.1782 13.6785C15.8656 13.9911 15.4417 14.1667 14.9997 14.1667H13.333M6.66634 5.83333H4.99967C4.55765 5.83333 4.13372 6.00893 3.82116 6.32149C3.5086 6.63405 3.33301 7.05797 3.33301 7.5V15.8333C3.33301 16.2754 3.5086 16.6993 3.82116 17.0118C4.13372 17.3244 4.55765 17.5 4.99967 17.5H11.6663C12.1084 17.5 12.5323 17.3244 12.8449 17.0118C13.1574 16.6993 13.333 16.2754 13.333 15.8333V14.1667" stroke="currentColor" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"></path>
                      </svg>
                    </button>
                  </span> 
                </td>
              </tr>
              <tr>
                <td>
                  <div class="d-flex gap-8px">
                    <button type="button" class="button-fillTonal">fillTonal</button>
                    <button type="button" class="button button-fillTonal button-md" aria-label="추가">
                      <svg class="ico" role="presentation" aria-hidden="true" focusable="false">
                        <use xlink:href="#ico-plus_circle"></use>
                      </svg>
                      <span class="label">fillTonal</span>
                      <svg class="ico" role="presentation" aria-hidden="true" focusable="false">
                        <use xlink:href="#ico-plus_circle"></use>
                      </svg>
                    </button>
                    <button type="button" class="button-fillTonal button-md ico-only" aria-label="추가">
                      <svg class="ico" role="presentation" aria-hidden="true" focusable="false">
                        <use xlink:href="#ico-plus_circle"></use>
                      </svg>
                    </button>
                  </div>
                </td>
                <td>
                  <span class="badge-class">
                    <em class="copyTxt">.button-fillTonal</em>
                    <button class="btn-copy" data-tooltip="tooltip" data-placement="top" data-original-title="코드복사">
                      <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M6.66634 5.83333V12.5C6.66634 12.942 6.84194 13.366 7.1545 13.6785C7.46706 13.9911 7.89098 14.1667 8.33301 14.1667H13.333M6.66634 5.83333V4.16667C6.66634 3.72464 6.84194 3.30072 7.1545 2.98816C7.46706 2.67559 7.89098 2.5 8.33301 2.5H12.1547C12.3757 2.50005 12.5876 2.58788 12.7438 2.74417L16.4222 6.4225C16.5785 6.57874 16.6663 6.79067 16.6663 7.01167V12.5C16.6663 12.942 16.4907 13.366 16.1782 13.6785C15.8656 13.9911 15.4417 14.1667 14.9997 14.1667H13.333M6.66634 5.83333H4.99967C4.55765 5.83333 4.13372 6.00893 3.82116 6.32149C3.5086 6.63405 3.33301 7.05797 3.33301 7.5V15.8333C3.33301 16.2754 3.5086 16.6993 3.82116 17.0118C4.13372 17.3244 4.55765 17.5 4.99967 17.5H11.6663C12.1084 17.5 12.5323 17.3244 12.8449 17.0118C13.1574 16.6993 13.333 16.2754 13.333 15.8333V14.1667" stroke="currentColor" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"></path>
                      </svg>
                    </button>
                  </span> 
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </section>
      <!-- //section-list -->    
      <section class="section-list">
        <h4 id="size">Size</h4>
        <div class="info-area mb-20px">
          <ul>
            <li class="depth1">
              기본 설정된 사이즈는 미디움 사이즈로 <code>.button-md</code> 클래스 생략 가능합니다.
            </li>
          </ul>
        </div>
        <div class="gdTable-wrap">
          <table class="gdTable">
            <colgroup>
              <col style="width:">
              <col style="width:">
            </colgroup>
            <thead>
              <tr>
                <th>Preview</th>
                <th>Class</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <div class="d-flex gap-8px">
                    <button class="button-primary button-xxl">primary</button>
                    <button type="button" class="button button-primary button-xxl">
                      <svg class="ico" role="presentation" aria-hidden="true" focusable="false">
                        <use xlink:href="#ico-plus_circle"></use>
                      </svg>
                      <span class="label">primary</span>
                      <svg class="ico" role="presentation" aria-hidden="true" focusable="false">
                        <use xlink:href="#ico-plus_circle"></use>
                      </svg>
                    </button>
                    <button type="button" class="button button-primary button-xxl ico-only" aria-label="추가">
                      <svg class="ico" role="presentation" aria-hidden="true" focusable="false">
                        <use xlink:href="#ico-plus_circle"></use>
                      </svg>
                    </button>
                  </div>
                </td>
                <td>
                  <span class="badge-class">
                    <em class="copyTxt">.button-xxl</em>
                    <button class="btn-copy" data-tooltip="tooltip" data-placement="top" data-original-title="코드복사">
                      <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M6.66634 5.83333V12.5C6.66634 12.942 6.84194 13.366 7.1545 13.6785C7.46706 13.9911 7.89098 14.1667 8.33301 14.1667H13.333M6.66634 5.83333V4.16667C6.66634 3.72464 6.84194 3.30072 7.1545 2.98816C7.46706 2.67559 7.89098 2.5 8.33301 2.5H12.1547C12.3757 2.50005 12.5876 2.58788 12.7438 2.74417L16.4222 6.4225C16.5785 6.57874 16.6663 6.79067 16.6663 7.01167V12.5C16.6663 12.942 16.4907 13.366 16.1782 13.6785C15.8656 13.9911 15.4417 14.1667 14.9997 14.1667H13.333M6.66634 5.83333H4.99967C4.55765 5.83333 4.13372 6.00893 3.82116 6.32149C3.5086 6.63405 3.33301 7.05797 3.33301 7.5V15.8333C3.33301 16.2754 3.5086 16.6993 3.82116 17.0118C4.13372 17.3244 4.55765 17.5 4.99967 17.5H11.6663C12.1084 17.5 12.5323 17.3244 12.8449 17.0118C13.1574 16.6993 13.333 16.2754 13.333 15.8333V14.1667" stroke="currentColor" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"></path>
                      </svg>
                    </button>
                  </span> 
                </td>
              </tr>
              <tr>
                <td>
                  <div class="d-flex gap-8px">
                    <button class="button-primary button-xl">primary</button>
                    <button type="button" class="button button-primary button-xl">
                      <svg class="ico" role="presentation" aria-hidden="true" focusable="false">
                        <use xlink:href="#ico-plus_circle"></use>
                      </svg>
                      <span class="label">primary</span>
                      <svg class="ico" role="presentation" aria-hidden="true" focusable="false">
                        <use xlink:href="#ico-plus_circle"></use>
                      </svg>
                    </button>
                    <button type="button" class="button button-primary button-xl ico-only" aria-label="추가">
                      <svg class="ico" role="presentation" aria-hidden="true" focusable="false">
                        <use xlink:href="#ico-plus_circle"></use>
                      </svg>
                    </button>
                  </div>
                </td>
                <td>
                  <span class="badge-class">
                    <em class="copyTxt">.button-xl</em>
                    <button class="btn-copy" data-tooltip="tooltip" data-placement="top" data-original-title="코드복사">
                      <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M6.66634 5.83333V12.5C6.66634 12.942 6.84194 13.366 7.1545 13.6785C7.46706 13.9911 7.89098 14.1667 8.33301 14.1667H13.333M6.66634 5.83333V4.16667C6.66634 3.72464 6.84194 3.30072 7.1545 2.98816C7.46706 2.67559 7.89098 2.5 8.33301 2.5H12.1547C12.3757 2.50005 12.5876 2.58788 12.7438 2.74417L16.4222 6.4225C16.5785 6.57874 16.6663 6.79067 16.6663 7.01167V12.5C16.6663 12.942 16.4907 13.366 16.1782 13.6785C15.8656 13.9911 15.4417 14.1667 14.9997 14.1667H13.333M6.66634 5.83333H4.99967C4.55765 5.83333 4.13372 6.00893 3.82116 6.32149C3.5086 6.63405 3.33301 7.05797 3.33301 7.5V15.8333C3.33301 16.2754 3.5086 16.6993 3.82116 17.0118C4.13372 17.3244 4.55765 17.5 4.99967 17.5H11.6663C12.1084 17.5 12.5323 17.3244 12.8449 17.0118C13.1574 16.6993 13.333 16.2754 13.333 15.8333V14.1667" stroke="currentColor" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"></path>
                      </svg>
                    </button>
                  </span> 
                </td>
              </tr>
              <tr>
                <td>
                  <div class="d-flex gap-8px">
                    <button class="button-primary button-lg">primary</button>
                    <button type="button" class="button button-primary button-lg">
                      <svg class="ico" role="presentation" aria-hidden="true" focusable="false">
                        <use xlink:href="#ico-plus_circle"></use>
                      </svg>
                      <span class="label">primary</span>
                      <svg class="ico" role="presentation" aria-hidden="true" focusable="false">
                        <use xlink:href="#ico-plus_circle"></use>
                      </svg>
                    </button>
                    <button type="button" class="button button-primary button-lg ico-only" aria-label="추가">
                      <svg class="ico" role="presentation" aria-hidden="true" focusable="false">
                        <use xlink:href="#ico-plus_circle"></use>
                      </svg>
                    </button>
                  </div>
                </td>
                <td>
                  <span class="badge-class">
                    <em class="copyTxt">.button-lg</em>
                    <button class="btn-copy" data-tooltip="tooltip" data-placement="top" data-original-title="코드복사">
                      <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M6.66634 5.83333V12.5C6.66634 12.942 6.84194 13.366 7.1545 13.6785C7.46706 13.9911 7.89098 14.1667 8.33301 14.1667H13.333M6.66634 5.83333V4.16667C6.66634 3.72464 6.84194 3.30072 7.1545 2.98816C7.46706 2.67559 7.89098 2.5 8.33301 2.5H12.1547C12.3757 2.50005 12.5876 2.58788 12.7438 2.74417L16.4222 6.4225C16.5785 6.57874 16.6663 6.79067 16.6663 7.01167V12.5C16.6663 12.942 16.4907 13.366 16.1782 13.6785C15.8656 13.9911 15.4417 14.1667 14.9997 14.1667H13.333M6.66634 5.83333H4.99967C4.55765 5.83333 4.13372 6.00893 3.82116 6.32149C3.5086 6.63405 3.33301 7.05797 3.33301 7.5V15.8333C3.33301 16.2754 3.5086 16.6993 3.82116 17.0118C4.13372 17.3244 4.55765 17.5 4.99967 17.5H11.6663C12.1084 17.5 12.5323 17.3244 12.8449 17.0118C13.1574 16.6993 13.333 16.2754 13.333 15.8333V14.1667" stroke="currentColor" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"></path>
                      </svg>
                    </button>
                  </span> 
                </td>
              </tr>
              <tr class="default">
                <td>
                  <div class="d-flex gap-8px">
                    <button class="button-primary button-md">primary</button>
                    <button type="button" class="button button-primary button-md">
                      <svg class="ico" role="presentation" aria-hidden="true" focusable="false">
                        <use xlink:href="#ico-plus_circle"></use>
                      </svg>
                      <span class="label">primary</span>
                      <svg class="ico" role="presentation" aria-hidden="true" focusable="false">
                        <use xlink:href="#ico-plus_circle"></use>
                      </svg>
                    </button>
                    <button type="button" class="button button-primary button-md ico-only" aria-label="추가">
                      <svg class="ico" role="presentation" aria-hidden="true" focusable="false">
                        <use xlink:href="#ico-plus_circle"></use>
                      </svg>
                    </button>
                  </div>
                </td>
                <td>
                  <span class="badge-class">
                    <em class="copyTxt">.button-md</em>
                    <button class="btn-copy" data-tooltip="tooltip" data-placement="top" data-original-title="코드복사">
                      <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M6.66634 5.83333V12.5C6.66634 12.942 6.84194 13.366 7.1545 13.6785C7.46706 13.9911 7.89098 14.1667 8.33301 14.1667H13.333M6.66634 5.83333V4.16667C6.66634 3.72464 6.84194 3.30072 7.1545 2.98816C7.46706 2.67559 7.89098 2.5 8.33301 2.5H12.1547C12.3757 2.50005 12.5876 2.58788 12.7438 2.74417L16.4222 6.4225C16.5785 6.57874 16.6663 6.79067 16.6663 7.01167V12.5C16.6663 12.942 16.4907 13.366 16.1782 13.6785C15.8656 13.9911 15.4417 14.1667 14.9997 14.1667H13.333M6.66634 5.83333H4.99967C4.55765 5.83333 4.13372 6.00893 3.82116 6.32149C3.5086 6.63405 3.33301 7.05797 3.33301 7.5V15.8333C3.33301 16.2754 3.5086 16.6993 3.82116 17.0118C4.13372 17.3244 4.55765 17.5 4.99967 17.5H11.6663C12.1084 17.5 12.5323 17.3244 12.8449 17.0118C13.1574 16.6993 13.333 16.2754 13.333 15.8333V14.1667" stroke="currentColor" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"></path>
                      </svg>
                    </button>
                  </span> 
                </td>
              </tr>
              <tr>
                <td>
                  <div class="d-flex gap-8px">
                    <button class="button-primary button-sm">primary</button>
                    <button type="button" class="button button-primary button-sm">
                      <svg class="ico" role="presentation" aria-hidden="true" focusable="false">
                        <use xlink:href="#ico-plus_circle"></use>
                      </svg>
                      <span class="label">primary</span>
                      <svg class="ico" role="presentation" aria-hidden="true" focusable="false">
                        <use xlink:href="#ico-plus_circle"></use>
                      </svg>
                    </button>
                    <button type="button" class="button button-primary button-sm ico-only" aria-label="추가">
                      <svg class="ico" role="presentation" aria-hidden="true" focusable="false">
                        <use xlink:href="#ico-plus_circle"></use>
                      </svg>
                    </button>
                  </div>
                </td>
                <td>
                  <span class="badge-class">
                    <em class="copyTxt">.button-sm</em>
                    <button class="btn-copy" data-tooltip="tooltip" data-placement="top" data-original-title="코드복사">
                      <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M6.66634 5.83333V12.5C6.66634 12.942 6.84194 13.366 7.1545 13.6785C7.46706 13.9911 7.89098 14.1667 8.33301 14.1667H13.333M6.66634 5.83333V4.16667C6.66634 3.72464 6.84194 3.30072 7.1545 2.98816C7.46706 2.67559 7.89098 2.5 8.33301 2.5H12.1547C12.3757 2.50005 12.5876 2.58788 12.7438 2.74417L16.4222 6.4225C16.5785 6.57874 16.6663 6.79067 16.6663 7.01167V12.5C16.6663 12.942 16.4907 13.366 16.1782 13.6785C15.8656 13.9911 15.4417 14.1667 14.9997 14.1667H13.333M6.66634 5.83333H4.99967C4.55765 5.83333 4.13372 6.00893 3.82116 6.32149C3.5086 6.63405 3.33301 7.05797 3.33301 7.5V15.8333C3.33301 16.2754 3.5086 16.6993 3.82116 17.0118C4.13372 17.3244 4.55765 17.5 4.99967 17.5H11.6663C12.1084 17.5 12.5323 17.3244 12.8449 17.0118C13.1574 16.6993 13.333 16.2754 13.333 15.8333V14.1667" stroke="currentColor" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"></path>
                      </svg>
                    </button>
                  </span> 
                </td>
              </tr>
              <tr>
                <td>
                  <div class="d-flex gap-8px">
                    <button class="button-primary button-xs">primary</button>
                    <button type="button" class="button button-primary button-xs">
                      <svg class="ico" role="presentation" aria-hidden="true" focusable="false">
                        <use xlink:href="#ico-plus_circle"></use>
                      </svg>
                      <span class="label">primary</span>
                      <svg class="ico" role="presentation" aria-hidden="true" focusable="false">
                        <use xlink:href="#ico-plus_circle"></use>
                      </svg>
                    </button>
                    <button type="button" class="button button-primary button-xs ico-only" aria-label="추가">
                      <svg class="ico" role="presentation" aria-hidden="true" focusable="false">
                        <use xlink:href="#ico-plus_circle"></use>
                      </svg>
                    </button>
                  </div>
                </td>
                <td>
                  <span class="badge-class">
                    <em class="copyTxt">.button-xs</em>
                    <button class="btn-copy" data-tooltip="tooltip" data-placement="top" data-original-title="코드복사">
                      <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M6.66634 5.83333V12.5C6.66634 12.942 6.84194 13.366 7.1545 13.6785C7.46706 13.9911 7.89098 14.1667 8.33301 14.1667H13.333M6.66634 5.83333V4.16667C6.66634 3.72464 6.84194 3.30072 7.1545 2.98816C7.46706 2.67559 7.89098 2.5 8.33301 2.5H12.1547C12.3757 2.50005 12.5876 2.58788 12.7438 2.74417L16.4222 6.4225C16.5785 6.57874 16.6663 6.79067 16.6663 7.01167V12.5C16.6663 12.942 16.4907 13.366 16.1782 13.6785C15.8656 13.9911 15.4417 14.1667 14.9997 14.1667H13.333M6.66634 5.83333H4.99967C4.55765 5.83333 4.13372 6.00893 3.82116 6.32149C3.5086 6.63405 3.33301 7.05797 3.33301 7.5V15.8333C3.33301 16.2754 3.5086 16.6993 3.82116 17.0118C4.13372 17.3244 4.55765 17.5 4.99967 17.5H11.6663C12.1084 17.5 12.5323 17.3244 12.8449 17.0118C13.1574 16.6993 13.333 16.2754 13.333 15.8333V14.1667" stroke="currentColor" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"></path>
                      </svg>
                    </button>
                  </span> 
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </section>
      <!-- //section-list -->
      <section class="section-list">
        <h4 id="disabeld">Disabeld</h4>
        <div class="info-area mb-20px">
          <ul>
            <li class="depth1">
              비활성화된 UI는 두 가지(①회색조, ②투명도) 방식으로 표시할 수 있습니다.<br />
              ① 회색조 : 상호작용에 따른 변화가 없거나 비활성화 상태 표시만을 위한 경우<br />
              ② 투명도 : 액션에 따라 변화가 있을 경우 (로그인버튼, 필터버튼 등)
            </li>
            <li class="depth1">
              용법<br />
              ① 회색조 : 속성을 통해 비활성화 설정 <code>disabled="disabled"</code><br />
              ② 투명도 : 클래스를 통해 비활성화 설정 <code>.disabled</code>
            </li>
          </ul>
        </div>

        <div class="preview-area">
          <div class="d-flex gap-8px mb-8px">
            <button type="button" class="button button-primary" disabled="">primary</button>
            <button type="button" class="button button-primary button-md" disabled="">
              <svg class="ico" role="presentation" aria-hidden="true" focusable="false">
                <use xlink:href="#ico-plus_circle"></use>
              </svg>
              <span class="label">primary</span>
              <svg class="ico" role="presentation" aria-hidden="true" focusable="false">
                <use xlink:href="#ico-plus_circle"></use>
              </svg>
            </button>
            <button type="button" class="button button-primary button-md ico-only" aria-label="추가" disabled="">
              <svg class="ico" role="presentation" aria-hidden="true" focusable="false">
                <use xlink:href="#ico-plus_circle"></use>
              </svg>
            </button>
          </div>
          <div class="d-flex gap-8px">
            <button type="button" class="button button-primary disabled">primary</button>
            <button type="button" class="button button-primary button-md disabled">
              <svg class="ico" role="presentation" aria-hidden="true" focusable="false">
                <use xlink:href="#ico-plus_circle"></use>
              </svg>
              <span class="label">primary</span>
              <svg class="ico" role="presentation" aria-hidden="true" focusable="false">
                <use xlink:href="#ico-plus_circle"></use>
              </svg>
            </button>
            <button type="button" class="button button-primary button-md ico-only disabled" aria-label="추가">
              <svg class="ico" role="presentation" aria-hidden="true" focusable="false">
                <use xlink:href="#ico-plus_circle"></use>
              </svg>
            </button>
          </div>
        </div>
        <!-- //preview-area -->
        <div class="code-area">
          <div class="code-head"><span class="tit">HTML</span></div>
          <code class="code-body">
            <pre class="brush: html;">
              <button type="button" class="button button-primary" disabled="">primary</button><!-- //회색조 -->
              <button type="button" class="button button-primary disabled">primary</button><!-- //투명도 -->
            </pre>
            <button class="btn-clipboard-copy btn btn-sm" data-tooltip="tooltip" data-placement="top" data-original-title="코드복사" aria-label="코드복사"></button>
          </code>
        </div>
        <!-- //code-area -->
      </section>
      <!-- //section-list -->
    </article>
  </div>

</div>










