<div class="gd-content-wrap" id="n_inputcheckbox">
  <h2 class="gd-tit">Checkbox</h2>
  <div class="gd-infoArea">
    <a class="button-textLink" href="https://www.figma.com/file/8Aum3Py2NiZ2BDQJDtBJcG/Icon-Library-(Community)?type=design&node-id=1%3A1055&mode=design&t=bI7KG2e0DHffSslC-1" target="_blank">Figma</a>에서 flatten처리 후 
    <a class="button-textLink" href="https://jakearchibald.github.io/svgomg/" target="_blank">SVGOMG</a>
    사이트에서 svg파일을 최적화하여 추가합니다.
  </div>
  
  <article>
    <section>
      <h3 class="gd-subTit">Code</h3>
      <div class="section-list">
        <h4 class="gd-subtit-sm">Inline</h4>
        <div class="preview-area">
          <div class="d-flex">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="sampleCheck1">
              <label class="custom-control-label" for="sampleCheck1"><span>항목1</span></label>
            </div>
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="sampleCheck1-1" checked="">
              <label class="custom-control-label" for="sampleCheck1-1"><span>항목2 (Checked)</span></label>
            </div>
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="sampleCheck1-2" disabled="">
              <label class="custom-control-label" for="sampleCheck1-2"><span>항목3 (Disabled)</span></label>
            </div>
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="sampleCheck1-3" checked="" disabled="">
              <label class="custom-control-label" for="sampleCheck1-3"><span>항목4 (Checked, Disabled)</span></label>
            </div>
          </div>
        </div>
        <div class="code-head">
          <span class="tit">HTML</span>
        </div>
        <code class="code-area">
          <pre class="brush: html;">
            <div class="d-flex">
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="sampleCheck1">
                <label class="custom-control-label" for="sampleCheck1"><span>항목1</span></label>
              </div>
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="sampleCheck1-1" checked="">
                <label class="custom-control-label" for="sampleCheck1-1"><span>항목2 (Checked)</span></label>
              </div>
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="sampleCheck1-2" disabled="">
                <label class="custom-control-label" for="sampleCheck1-2"><span>항목3 (Disabled)</span></label>
              </div>
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="sampleCheck1-3" checked="" disabled="">
                <label class="custom-control-label" for="sampleCheck1-3"><span>항목4 (Checked, Disabled)</span></label>
              </div>
            </div>
          </pre>
          <button class="btn-clipboard-copy btn btn-sm" data-toggle="tooltip" data-placement="top" title="" data-original-title="코드복사">
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M6.66634 5.83333V12.5C6.66634 12.942 6.84194 13.366 7.1545 13.6785C7.46706 13.9911 7.89098 14.1667 8.33301 14.1667H13.333M6.66634 5.83333V4.16667C6.66634 3.72464 6.84194 3.30072 7.1545 2.98816C7.46706 2.67559 7.89098 2.5 8.33301 2.5H12.1547C12.3757 2.50005 12.5876 2.58788 12.7438 2.74417L16.4222 6.4225C16.5785 6.57874 16.6663 6.79067 16.6663 7.01167V12.5C16.6663 12.942 16.4907 13.366 16.1782 13.6785C15.8656 13.9911 15.4417 14.1667 14.9997 14.1667H13.333M6.66634 5.83333H4.99967C4.55765 5.83333 4.13372 6.00893 3.82116 6.32149C3.5086 6.63405 3.33301 7.05797 3.33301 7.5V15.8333C3.33301 16.2754 3.5086 16.6993 3.82116 17.0118C4.13372 17.3244 4.55765 17.5 4.99967 17.5H11.6663C12.1084 17.5 12.5323 17.3244 12.8449 17.0118C13.1574 16.6993 13.333 16.2754 13.333 15.8333V14.1667" stroke="currentColor" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </button>
        </code>
      </div>
      <div class="section-list">
        <h4 class="gd-subtit-sm">Block</h4>
        <div class="preview-area">
          <div class="custom-control custom-checkbox mb-6px">
            <input type="checkbox" class="custom-control-input" id="sampleCheck2">
            <label class="custom-control-label" for="sampleCheck2"><span>항목1</span></label>
          </div>
          <div class="custom-control custom-checkbox mb-6px">
            <input type="checkbox" class="custom-control-input" id="sampleCheck2-1" checked="">
            <label class="custom-control-label" for="sampleCheck2-1"><span>항목2 (Checked)</span></label>
          </div>
          <div class="custom-control custom-checkbox mb-6px">
            <input type="checkbox" class="custom-control-input" id="sampleCheck2-2" disabled="">
            <label class="custom-control-label" for="sampleCheck2-2"><span>항목3 (Disabled)</span></label>
          </div>
          <div class="custom-control custom-checkbox mb-6px">
            <input type="checkbox" class="custom-control-input" id="sampleCheck2-3" checked="" disabled="">
            <label class="custom-control-label" for="sampleCheck2-3"><span>항목4 (Checked, Disabled)</span></label>
          </div>
        </div>
        <div class="code-head">
          <span class="tit">HTML</span>
        </div>
        <code class="code-area">
          <pre class="brush: html;">
            <div>
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="sampleCheck2">
                <label class="custom-control-label" for="sampleCheck2"><span>항목1</span></label>
              </div>
            </div>
            <div>
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="sampleCheck2-1" checked="">
                <label class="custom-control-label" for="sampleCheck2-1"><span>항목2 (Checked)</span></label>
              </div>
            </div>
            <div>
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="sampleCheck2-2" disabled="">
                <label class="custom-control-label" for="sampleCheck2-2"><span>항목3 (Disabled)</span></label>
              </div>
            </div>
            <div>
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="sampleCheck2-3" checked="" disabled="">
                <label class="custom-control-label" for="sampleCheck2-3"><span>항목4 (Checked, Disabled)</span></label>
              </div>
            </div>
          </pre>
          <button class="btn-clipboard-copy btn btn-sm" data-toggle="tooltip" data-placement="top" title="" data-original-title="코드복사">
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M6.66634 5.83333V12.5C6.66634 12.942 6.84194 13.366 7.1545 13.6785C7.46706 13.9911 7.89098 14.1667 8.33301 14.1667H13.333M6.66634 5.83333V4.16667C6.66634 3.72464 6.84194 3.30072 7.1545 2.98816C7.46706 2.67559 7.89098 2.5 8.33301 2.5H12.1547C12.3757 2.50005 12.5876 2.58788 12.7438 2.74417L16.4222 6.4225C16.5785 6.57874 16.6663 6.79067 16.6663 7.01167V12.5C16.6663 12.942 16.4907 13.366 16.1782 13.6785C15.8656 13.9911 15.4417 14.1667 14.9997 14.1667H13.333M6.66634 5.83333H4.99967C4.55765 5.83333 4.13372 6.00893 3.82116 6.32149C3.5086 6.63405 3.33301 7.05797 3.33301 7.5V15.8333C3.33301 16.2754 3.5086 16.6993 3.82116 17.0118C4.13372 17.3244 4.55765 17.5 4.99967 17.5H11.6663C12.1084 17.5 12.5323 17.3244 12.8449 17.0118C13.1574 16.6993 13.333 16.2754 13.333 15.8333V14.1667" stroke="currentColor" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </button>
        </code>
      </div>
    </section>
    <section>
      <h3 class="gd-subTit">Utility Class</h3>
      <div class="section-list">
        <h4 class="gd-subtit-sm">Size</h4>
        <div class="gdTable-wrap">
          <table class="gdTable">
            <colgroup>
              <col style="width:">
              <col style="width:">
            </colgroup>
            <thead>
              <tr>
                <th>Preview</th>
                <th>Class</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <div class="custom-control custom-checkbox sm">
                    <input type="checkbox" class="custom-control-input" id="sampleCheck2">
                    <label class="custom-control-label" for="sampleCheck2"><span>항목1</span></label>
                  </div>
                </td>
                <td>
                  <span class="badge-class">
                    <em class="copyTxt">.xs</em>
                    <button class="btn-copy" data-tooltip="tooltip" data-placement="top" data-original-title="코드복사">
                      <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M6.66634 5.83333V12.5C6.66634 12.942 6.84194 13.366 7.1545 13.6785C7.46706 13.9911 7.89098 14.1667 8.33301 14.1667H13.333M6.66634 5.83333V4.16667C6.66634 3.72464 6.84194 3.30072 7.1545 2.98816C7.46706 2.67559 7.89098 2.5 8.33301 2.5H12.1547C12.3757 2.50005 12.5876 2.58788 12.7438 2.74417L16.4222 6.4225C16.5785 6.57874 16.6663 6.79067 16.6663 7.01167V12.5C16.6663 12.942 16.4907 13.366 16.1782 13.6785C15.8656 13.9911 15.4417 14.1667 14.9997 14.1667H13.333M6.66634 5.83333H4.99967C4.55765 5.83333 4.13372 6.00893 3.82116 6.32149C3.5086 6.63405 3.33301 7.05797 3.33301 7.5V15.8333C3.33301 16.2754 3.5086 16.6993 3.82116 17.0118C4.13372 17.3244 4.55765 17.5 4.99967 17.5H11.6663C12.1084 17.5 12.5323 17.3244 12.8449 17.0118C13.1574 16.6993 13.333 16.2754 13.333 15.8333V14.1667" stroke="currentColor" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"></path>
                      </svg>
                    </button>
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>


    </section>

  </article>

</div>
















