<div class="gd-content-wrap" id="n_icon">
  <h2>Icon</h2>
  <div class="gd-content">
    <article class="gd-example-wrap">
      <h3>material-icon</h3>
      <!-- 🧡💛 UI -->
      <div class="gd-example">
        <ul class="d-flex flex-wrap ico_list">
          <li>
            <span class="material-icons-outlined">menu_open</span>
            <span>menu_open</span>
          </li>
          <li>
            <span class="material-icons-outlined">menu</span>
            <span>menu</span>
          </li>
          <li>
            <span class="material-icons-outlined">dashboard_customize</span>
            <span>dashboard_customize</span>
          </li>
          <li>
            <span class="material-icons-outlined">headset_mic</span>
            <span>headset_mic</span>
          </li>
          <li>
            <span class="material-icons-outlined">people_alt</span>
            <span>people_alt</span>
          </li>
          <li>
            <span class="material-icons-outlined">settings</span>
            <span>settings</span>
          </li>
          <li>
            <span class="material-icons-outlined">person_outline</span>
            <span>person_outline</span>
          </li>
          <li>
            <span class="material-icons-outlined">lock</span>
            <span>lock</span>
          </li>
          <li>
            <span class="material-icons-round">format_color_fill</span>
            <span>format_color_fill</span>
          </li>
          <li>
            <span class="material-icons-round">logout</span>
            <span>logout</span>
          </li>
          <li>
            <span class="material-icons-round">keyboard_arrow_down</span>
            <span>keyboard_arrow_down</span>
          </li>
          <li>
            <span class="material-icons-round">arrow_drop_down</span>
            <span>arrow_drop_down</span>
          </li>
          <li>
            <span class="material-icons-round">refresh</span>
            <span>refresh</span>
          </li>
          <li>
            <span class="material-icons-round">add</span>
            <span>add</span>
          </li>
          <li>
            <span class="material-icons-round">keyboard_double_arrow_left</span>
            <span>keyboard_double_arrow_left</span>
          </li>
          <li>
            <span class="material-icons-round">keyboard_double_arrow_right</span>
            <span>keyboard_double_arrow_right</span>
          </li>
          <li>
            <span class="material-icons-round">keyboard_arrow_left</span>
            <span>keyboard_arrow_left</span>
          </li>
          <li>
            <span class="material-icons-round">keyboard_arrow_right</span>
            <span>keyboard_arrow_right</span>
          </li>
        </ul>
      </div>
      <!-- //🧡💛 UI -->
      <!-- 🔴🟡 code -->
      <div class="code-head">
        <span class="tit">HTML</span>
      </div>
      <code class="code-area">
        <pre class="brush: html;">
          <span class="material-icons-outlined">menu_open</span>
          <span class="material-icons-outlined">menu</span>
          <span class="material-icons-outlined">dashboard_customize</span>
          <span class="material-icons-outlined">headset_mic</span>
          <span class="material-icons-outlined">people_alt</span>
          <span class="material-icons-outlined">settings</span>
          <span class="material-icons-outlined">person_outline</span>
          <span class="material-icons-outlined">lock</span>
          <span class="material-icons-round">format_color_fill</span>
          <span class="material-icons-round">logout</span>
          <span class="material-icons-round">keyboard_arrow_down</span>
          <span class="material-icons-round">arrow_drop_down</span>
          <span class="material-icons-round">refresh</span>
          <span class="material-icons-round">add</span>
          <span class="material-icons-round">keyboard_double_arrow_left</span>
          <span class="material-icons-round">keyboard_double_arrow_right</span>
          <span class="material-icons-round">keyboard_arrow_left</span>
          <span class="material-icons-round">keyboard_arrow_right</span>
        </pre>
        <button class="btn-clipboard-copy btn btn-sm" data-toggle="tooltip" data-placement="top" title="" data-original-title="코드복사">
          <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M6.66634 5.83333V12.5C6.66634 12.942 6.84194 13.366 7.1545 13.6785C7.46706 13.9911 7.89098 14.1667 8.33301 14.1667H13.333M6.66634 5.83333V4.16667C6.66634 3.72464 6.84194 3.30072 7.1545 2.98816C7.46706 2.67559 7.89098 2.5 8.33301 2.5H12.1547C12.3757 2.50005 12.5876 2.58788 12.7438 2.74417L16.4222 6.4225C16.5785 6.57874 16.6663 6.79067 16.6663 7.01167V12.5C16.6663 12.942 16.4907 13.366 16.1782 13.6785C15.8656 13.9911 15.4417 14.1667 14.9997 14.1667H13.333M6.66634 5.83333H4.99967C4.55765 5.83333 4.13372 6.00893 3.82116 6.32149C3.5086 6.63405 3.33301 7.05797 3.33301 7.5V15.8333C3.33301 16.2754 3.5086 16.6993 3.82116 17.0118C4.13372 17.3244 4.55765 17.5 4.99967 17.5H11.6663C12.1084 17.5 12.5323 17.3244 12.8449 17.0118C13.1574 16.6993 13.333 16.2754 13.333 15.8333V14.1667" stroke="currentColor" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </button>
      </code>
      <!-- //🔴🟡 code -->
      <div class="gd-desc">
        <div>
          *위 아이콘들은 현재 사용 중인 아이콘이며 추가적으로 더 필요하면 아래 url에서 찾아서 사용해주세요.<br />
          <strong>[아이콘모음]</strong>
          <a href="https://marella.me/material-icons/demo/" target="_blank">https://marella.me/material-icons/demo/</a><br />
          <strong>[참고문서]</strong>
          <a href="https://github.com/marella/material-icons?tab=readme-ov-file#readme" target="_blank">https://github.com/marella/material-icons?tab=readme-ov-file#readme</a>
        </div>
        <div class="table_wrap mt-20px">
          <h3 class="mb-10px">Utility Class</h3>
          <table class="table">
            <colgroup>
              <col style="width:150px">
            </colgroup>
            <tbody>
              <tr>
                <th>Size</th>
                <td>
                  <ul class="list_dot list_mb7px">
                    <li>
                      <div>
                        <span class="class-wrap">.xs</span>
                        <span class="material-icons-outlined xs" style="vertical-align: middle;">settings</span>
                      </div>
                      <div>
                        <span class="class-wrap">sm</span>
                        <span class="material-icons-outlined sm" style="vertical-align: middle;">settings</span>
                      </div>
                      <div>
                        <span class="class-wrap">.md</span>                                
                        <span class="material-icons-outlined" style="vertical-align: middle;">settings</span>                               
                      </div>
                      <div>
                        <span class="class-wrap">.lg</span>
                        <span class="material-icons-outlined lg" style="vertical-align: middle;">settings</span>
                      </div>
                      <div>
                        <span class="class-wrap">.xl</span>
                        <span class="material-icons-outlined xl" style="vertical-align: middle;">settings</span>
                      </div>
                    </li>
                  </ul>
                </td>
              </tr>
              <tr>
                <th>Color</th>
                <td>
                  <ul class="list_dot list_mb7px">
                    <li>
                      <div class="d-flex mb-4px">
                        <span class="material-icons-outlined col-primary">settings</span>
                        <span class="class-wrap">.col-primary</span>
                      </div>
                      <div class="d-flex mb-4px">
                        <span class="material-icons-outlined col-gray">settings</span>
                        <span class="class-wrap">.col-gray</span>
                      </div>
                      <div class="d-flex mb-4px">
                        <span class="material-icons-outlined col-lightgray">settings</span>
                        <span class="class-wrap">.col-lightgray</span>
                      </div>
                      <div class="d-flex mb-4px" style="background-color:#ddd;">
                        <span class="material-icons-outlined col-white">settings</span>
                        <span class="class-wrap">.col-white</span>
                      </div>
                    </li>
                  </ul>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </article>
  </div>
</div>