<div class="gd-content-wrap" id="n_TextFields">
  <aside class="index-nav">
    <p class="tit">On this page</p>
    <ul>
      <li>
        <a href="#ex">Example</a>
        <ul>
          <li><a href="#ex-default">Default</a></li>
          <li><a href="#ex-disabled">Disabled</a></li>
          <li><a href="#ex-readonly">Readonly</a></li>
          <li><a href="#ex-success">Success</a></li>
          <li><a href="#ex-error">Error</a></li>
          <li><a href="#ex-fileinput">File input</a></li>
        </ul>
      </li>
      <li>
        <a href="#util">Utility Class</a>
        <ul>
          <li><a href="#util-size">Size</a></li>
        </ul>
      </li>
    </ul>
  </aside>
  <div class="gd-content">
    <h2>Text Fields</h2>
    <article>
      <h3 id="ex">Example</h3>
      <section class="section-list">
        <h4 id="ex-default" class="gd-subtit-sm">Default</h4>
        <div class="preview-area">
          <input type="text" placeholder="placeholder" value="">
        </div>
        <!-- //preview-area -->
        <div class="code-area">
          <div class="code-head"><span class="tit">HTML</span></div>
          <code class="code-body">
            <pre class="brush: html;">
              <input type="text" placeholder="placeholder" value="">
            </pre>
            <button class="btn-clipboard-copy btn btn-sm" data-tooltip="tooltip" data-placement="top" data-original-title="코드복사" aria-label="코드복사"></button>
          </code>
        </div>
        <!-- //code-area -->
      </section>
      <!-- //section-list -->
      <section class="section-list">
        <h4 id="ex-disabled" class="gd-subtit-sm">Disabled</h4>
        <div class="preview-area">
          <input type="text" placeholder="placeholder" value="" disabled="">
        </div>
        <!-- //preview-area -->
        <div class="code-area">
          <div class="code-head"><span class="tit">HTML</span></div>
          <code class="code-body">
            <pre class="brush: html;">
              <input type="text" placeholder="placeholder" value="" disabled="">
            </pre>
            <button class="btn-clipboard-copy btn btn-sm" data-tooltip="tooltip" data-placement="top" data-original-title="코드복사" aria-label="코드복사"></button>
          </code>
        </div>
        <!-- //code-area -->
      </section>
      <!-- //section-list -->
      <section class="section-list">
        <h4 id="ex-readonly" class="gd-subtit-sm">Readonly</h4>
        <div class="preview-area">
          <input type="text" placeholder="placeholder" value="입력된 내용" readonly="">
        </div>
        <!-- //preview-area -->
        <div class="code-area">
          <div class="code-head"><span class="tit">HTML</span></div>
          <code class="code-body">
            <pre class="brush: html;">
              <input type="text" placeholder="placeholder" value="입력된 내용" readonly="">
            </pre>
            <button class="btn-clipboard-copy btn btn-sm" data-tooltip="tooltip" data-placement="top" data-original-title="코드복사" aria-label="코드복사"></button>
          </code>
        </div>
        <!-- //code-area -->
      </section>
      <!-- //section-list -->
      <section class="section-list">
        <h4 id="ex-success" class="gd-subtit-sm">Success</h4>
        <div class="preview-area">
          <div class="validate-success">
            <label for="">label<span class="col-required">*</span></label>
            <input type="text" placeholder="placeholder" value="">
            <p class="validate-txt">성공메세지</p>
          </div>
        </div>
        <!-- //preview-area -->
        <div class="code-area">
          <div class="code-head"><span class="tit">HTML</span></div>
          <code class="code-body">
            <pre class="brush: html;">
              <div class="validate-success">
                <label for="">label<span class="col-required">*</span></label>
                <input type="text" placeholder="placeholder" value="">
                <p class="validate-txt">성공메세지</p>
              </div>
            </pre>
            <button class="btn-clipboard-copy btn btn-sm" data-tooltip="tooltip" data-placement="top" data-original-title="코드복사" aria-label="코드복사"></button>
          </code>
        </div>
        <!-- //code-area -->
      </section>
      <!-- //section-list -->
      <section class="section-list">
        <h4 id="ex-error" class="gd-subtit-sm">Error</h4>
        <div class="preview-area">
          <div class="validate-error">
            <label for="">label<span class="col-required">*</span></label>
            <input type="text" placeholder="placeholder" value="">
            <p class="validate-txt">에러메세지</p>
          </div>
        </div>
        <!-- //preview-area -->
        <div class="code-area">
          <div class="code-head"><span class="tit">HTML</span></div>
          <code class="code-body">
            <pre class="brush: html;">
              <div class="validate-error">
                <label for="">label<span class="col-required">*</span></label>
                <input type="text" placeholder="placeholder" value="">
                <p class="validate-txt">에러메세지</p>
              </div>
            </pre>
            <button class="btn-clipboard-copy btn btn-sm" data-tooltip="tooltip" data-placement="top" data-original-title="코드복사" aria-label="코드복사"></button>
          </code>
        </div>
        <!-- //code-area -->
      </section>
      <!-- //section-list -->
      <section class="section-list">
        <h4 id="ex-fileinput" class="gd-subtit-sm">File input</h4>
        <div class="preview-area">
          <div class="custom-fileInput mb-8px">
            <input type="text" class="upload-name" value="" placeholder="선택된 파일 없음" readonly="">
            <label for="file" class="button button-outline button-md">
              <svg class="ico" role="presentation" aria-hidden="true" focusable="false">
                <use xlink:href="#ico-clip"></use>
              </svg>
              <span class="label">파일 선택</span>
            </label>
            <input type="file" id="file" class="blind">
          </div>
        </div>
        <!-- //preview-area -->
        <div class="code-area">
          <div class="code-head"><span class="tit">HTML</span></div>
          <code class="code-body">
            <pre class="brush: html;">
              <div class="custom-fileInput mb-8px">
                <input type="text" class="upload-name" value="" placeholder="선택된 파일 없음" readonly="">
                <label for="file" class="button button-outline button-md">
                  <svg role="presentation" aria-hidden="true" focusable="false" class="ico" >
                    <use xlink:href="#ico-clip"></use>
                  </svg>
                  <span class="label">파일 선택</span>
                </label>
                <input type="file" id="file" class="blind">
              </div>
            </pre>
            <button class="btn-clipboard-copy btn btn-sm" data-tooltip="tooltip" data-placement="top" data-original-title="코드복사" aria-label="코드복사"></button>
          </code>
        </div>
        <!-- //code-area -->
      </section>
      <!-- //section-list -->
    </article>
    <article>
      <h3 id="util" class="gd-subTit">Utility Class</h3>
      <div class="section-list">
        <h4 id="util-size" class="gd-subtit-sm">Size</h4>
        <div class="gdTable-wrap">
          <table class="gdTable">
            <colgroup>
              <col style="width:">
              <col style="width:">
            </colgroup>
            <thead>
              <tr>
                <th>Preview</th>
                <th>Class</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <input type="text" placeholder="placeholder" value="" class="xs">
                </td>
                <td>
                  <span class="badge-class">
                    <em class="copyTxt">.xs</em>
                    <button class="btn-copy" data-tooltip="tooltip" data-placement="top" data-original-title="코드복사" aria-label="코드복사"></button>
                  </span>
                </td>
              </tr>
              <tr>
                <td>
                  <input type="text" placeholder="placeholder" value="" class="sm">
                </td>
                <td>
                  <span class="badge-class">
                    <em class="copyTxt">.sm</em>
                    <button class="btn-copy" data-tooltip="tooltip" data-placement="top" data-original-title="코드복사" aria-label="코드복사"></button>
                  </span>
                </td>
              </tr>
              <tr>
                <td>
                  <input type="text" placeholder="placeholder" value="" class="md">
                </td>
                <td>
                  <span class="badge-class">
                    <em class="copyTxt">.md</em>
                    <button class="btn-copy" data-tooltip="tooltip" data-placement="top" data-original-title="코드복사" aria-label="코드복사"></button>
                  </span>
                </td>
              </tr>
              <tr>
                <td>
                  <input type="text" placeholder="placeholder" value="" class="lg">
                </td>
                <td>
                  <span class="badge-class">
                    <em class="copyTxt">.lg</em>
                    <button class="btn-copy" data-tooltip="tooltip" data-placement="top" data-original-title="코드복사" aria-label="코드복사"></button>
                  </span>
                </td>
              </tr>
              <tr>
                <td>
                  <input type="text" placeholder="placeholder" value="" class="xl">
                </td>
                <td>
                  <span class="badge-class">
                    <em class="copyTxt">.xl</em>
                    <button class="btn-copy" data-tooltip="tooltip" data-placement="top" data-original-title="코드복사" aria-label="코드복사"></button>
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </article>
  </div>
</div>