<div class="gd-content-wrap" id="n_typography">
  <h2 class="gd-tit">Typography</h2>
  <div class="gd-infoArea">
    <a class="button-textLink" href="https://www.figma.com/file/8Aum3Py2NiZ2BDQJDtBJcG/Icon-Library-(Community)?type=design&node-id=1%3A1055&mode=design&t=bI7KG2e0DHffSslC-1" target="_blank">Figma</a>에서 flatten처리 후 
    <a class="button-textLink" href="https://jakearchibald.github.io/svgomg/" target="_blank">SVGOMG</a>
    사이트에서 svg파일을 최적화하여 추가합니다.
  </div>
  
  <article>
    <section>
      <div class="mb-40px">
        <h4 class="gd-subTit-sm">utility class</h4>
        <div class="gdTable-wrap" style="max-height:500px;">
          <table class="gdTable">
            <tbody>
              <tr>
                <td>
                  <div class="fw-bold">가나다라마바사!@#$%^123456</div>
                </td>
                <td><span class="badge-class">.fw-bold</span></td>
              </tr>
              <tr>
                <td>
                  <div class="typo-display-lg-semibold">가나다라마바사!@#$%^123456</div>
                </td>
                <td><span class="badge-class">.typo-display-lg-semibold</span></td>
              </tr>
              <tr>
                <td>
                  <div class="typo-display-lg-regular">가나다라마바사!@#$%^123456</div>
                </td>
                <td><span class="badge-class">.typo-display-lg-regular</span></td>
              </tr>
              <tr>
                <td>
                  <div class="typo-display-md-bold">가나다라마바사!@#$%^123456</div>
                </td>
                <td><span class="badge-class">.typo-display-md-bold</span></td>
              </tr>
              <tr>
                <td>
                  <div class="typo-display-md-semibold">가나다라마바사!@#$%^123456</div>
                </td>
                <td><span class="badge-class">.typo-display-md-semibold</span></td>
              </tr>
              <tr>
                <td>
                  <div class="typo-display-md-regular">가나다라마바사!@#$%^123456</div>
                </td>
                <td><span class="badge-class">.typo-display-md-regular</span></td>
              </tr>
              <tr>
                <td>
                  <div class="typo-display-sm-bold">가나다라마바사!@#$%^123456</div>
                </td>
                <td><span class="badge-class">.typo-display-sm-bold</span></td>
              </tr>
              <tr>
                <td>
                  <div class="typo-display-sm-semibold">가나다라마바사!@#$%^123456</div>
                </td>
                <td><span class="badge-class">.typo-display-sm-semibold</span></td>
              </tr>
              <tr>
                <td>
                  <div class="typo-display-sm-regular">가나다라마바사!@#$%^123456</div>
                </td>
                <td><span class="badge-class">.typo-display-sm-regular</span></td>
              </tr>
              <tr>
                <td>
                  <div class="typo-heading-lg-bold">가나다라마바사!@#$%^123456</div>
                </td>
                <td><span class="badge-class">.typo-heading-lg-bold</span></td>
              </tr>
              <tr>
                <td>
                  <div class="typo-heading-lg-semibold">가나다라마바사!@#$%^123456</div>
                </td>
                <td><span class="badge-class">.typo-heading-lg-semibold</span></td>
              </tr>
              <tr>
                <td>
                  <div class="typo-heading-lg-regular">가나다라마바사!@#$%^123456</div>
                </td>
                <td><span class="badge-class">.typo-heading-lg-regular</span></td>
              </tr>
              <tr>
                <td>
                  <div class="typo-heading-md-bold">가나다라마바사!@#$%^123456</div>
                </td>
                <td><span class="badge-class">.typo-heading-md-bold</span></td>
              </tr>
              <tr>
                <td>
                  <div class="typo-heading-md-semibold">가나다라마바사!@#$%^123456</div>
                </td>
                <td><span class="badge-class">.typo-heading-md-semibold</span></td>
              </tr>
              <tr>
                <td>
                  <div class="typo-heading-md-regular">가나다라마바사!@#$%^123456</div>
                </td>
                <td><span class="badge-class">.typo-heading-md-regular</span></td>
              </tr>
              <tr>
                <td>
                  <div class="typo-heading-sm-bold">가나다라마바사!@#$%^123456</div>
                </td>
                <td><span class="badge-class">.typo-heading-sm-bold</span></td>
              </tr>
              <tr>
                <td>
                  <div class="typo-heading-sm-semibold">가나다라마바사!@#$%^123456</div>
                </td>
                <td><span class="badge-class">.typo-heading-sm-semibold</span></td>
              </tr>
              <tr>
                <td>
                  <div class="typo-heading-sm-regular">가나다라마바사!@#$%^123456</div>
                </td>
                <td><span class="badge-class">.typo-heading-sm-regular</span></td>
              </tr>
              <tr>
                <td>
                  <div class="typo-body-lg-bold">가나다라마바사!@#$%^123456</div>
                </td>
                <td><span class="badge-class">.typo-body-lg-bold</span></td>
              </tr>
              <tr>
                <td>
                  <div class="typo-body-lg-semibold">가나다라마바사!@#$%^123456</div>
                </td>
                <td><span class="badge-class">.typo-body-lg-semibold</span></td>
              </tr>
              <tr>
                <td>
                  <div class="typo-body-lg-regular">가나다라마바사!@#$%^123456</div>
                </td>
                <td><span class="badge-class">.typo-body-lg-regular</span></td>
              </tr>
              <tr>
                <td>
                  <div class="typo-body-md-bold">가나다라마바사!@#$%^123456</div>
                </td>
                <td><span class="badge-class">.typo-body-md-bold</span></td>
              </tr>
              <tr>
                <td>
                  <div class="typo-body-md-semibold">가나다라마바사!@#$%^123456</div>
                </td>
                <td><span class="badge-class">.typo-body-md-semibold</span></td>
              </tr>
              <tr>
                <td>
                  <div class="typo-body-md-regular">가나다라마바사!@#$%^123456</div>
                </td>
                <td><span class="badge-class">.typo-body-md-regular</span></td>
              </tr>
              <tr>
                <td>
                  <div class="typo-body-sm-bold">가나다라마바사!@#$%^123456</div>
                </td>
                <td><span class="badge-class">.typo-body-sm-bold</span></td>
              </tr>
              <tr>
                <td>
                  <div class="typo-body-sm-semibold">가나다라마바사!@#$%^123456</div>
                </td>
                <td><span class="badge-class">.typo-body-sm-semibold</span></td>
              </tr>
              <tr>
                <td>
                  <div class="typo-body-sm-regular">가나다라마바사!@#$%^123456</div>
                </td>
                <td><span class="badge-class">.typo-body-sm-regular</span></td>
              </tr>
              <tr>
                <td>
                  <div class="typo-caption-lg-bold">가나다라마바사!@#$%^123456</div>
                </td>
                <td><span class="badge-class">.typo-caption-lg-bold</span></td>
              </tr>
              <tr>
                <td>
                  <div class="typo-caption-lg-semibold">가나다라마바사!@#$%^123456</div>
                </td>
                <td><span class="badge-class">.typo-caption-lg-semibold</span></td>
              </tr>
              <tr>
                <td>
                  <div class="typo-caption-lg-regular">가나다라마바사!@#$%^123456</div>
                </td>
                <td><span class="badge-class">.typo-caption-lg-regular</span></td>
              </tr>
              <tr>
                <td>
                  <div class="typo-caption-md-bold">가나다라마바사!@#$%^123456</div>
                </td>
                <td><span class="badge-class">.typo-caption-md-bold</span></td>
              </tr>
              <tr>
                <td>
                  <div class="typo-caption-md-semibold">가나다라마바사!@#$%^123456</div>
                </td>
                <td><span class="badge-class">.typo-caption-md-semibold</span></td>
              </tr>
              <tr>
                <td>
                  <div class="typo-caption-md-regular">가나다라마바사!@#$%^123456</div>
                </td>
                <td><span class="badge-class">.typo-caption-md-regular</span></td>
              </tr>
              <tr>
                <td>
                  <div class="typo-caption-sm-bold">가나다라마바사!@#$%^123456</div>
                </td>
                <td><span class="badge-class">.typo-caption-sm-bold</span></td>
              </tr>
              <tr>
                <td>
                  <div class="typo-caption-sm-semibold">가나다라마바사!@#$%^123456</div>
                </td>
                <td><span class="badge-class">.typo-caption-sm-semibold</span></td>
              </tr>
              <tr>
                <td>
                  <div class="typo-caption-sm-regular">가나다라마바사!@#$%^123456</div>
                </td>
                <td><span class="badge-class">.typo-caption-sm-regular</span></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="mb-40px">
        <h4 class="gd-subTit-sm">style class</h4>
        <div class="gdTable-wrap" style="max-height:500px;">
          <table class="gdTable">
            <tbody>
              <tr>
                <td>
                  <div class="typo-display-lg-bold">가나다라마바사!@#$%^123456</div>
                </td>
                <td><span class="badge-class">.typo-display-lg-bold</span></td>
              </tr>
              <tr>
                <td>
                  <div class="typo-display-lg-semibold">가나다라마바사!@#$%^123456</div>
                </td>
                <td><span class="badge-class">.typo-display-lg-semibold</span></td>
              </tr>
              <tr>
                <td>
                  <div class="typo-display-lg-regular">가나다라마바사!@#$%^123456</div>
                </td>
                <td><span class="badge-class">.typo-display-lg-regular</span></td>
              </tr>
              <tr>
                <td>
                  <div class="typo-display-md-bold">가나다라마바사!@#$%^123456</div>
                </td>
                <td><span class="badge-class">.typo-display-md-bold</span></td>
              </tr>
              <tr>
                <td>
                  <div class="typo-display-md-semibold">가나다라마바사!@#$%^123456</div>
                </td>
                <td><span class="badge-class">.typo-display-md-semibold</span></td>
              </tr>
              <tr>
                <td>
                  <div class="typo-display-md-regular">가나다라마바사!@#$%^123456</div>
                </td>
                <td><span class="badge-class">.typo-display-md-regular</span></td>
              </tr>
              <tr>
                <td>
                  <div class="typo-display-sm-bold">가나다라마바사!@#$%^123456</div>
                </td>
                <td><span class="badge-class">.typo-display-sm-bold</span></td>
              </tr>
              <tr>
                <td>
                  <div class="typo-display-sm-semibold">가나다라마바사!@#$%^123456</div>
                </td>
                <td><span class="badge-class">.typo-display-sm-semibold</span></td>
              </tr>
              <tr>
                <td>
                  <div class="typo-display-sm-regular">가나다라마바사!@#$%^123456</div>
                </td>
                <td><span class="badge-class">.typo-display-sm-regular</span></td>
              </tr>
              <tr>
                <td>
                  <div class="typo-heading-lg-bold">가나다라마바사!@#$%^123456</div>
                </td>
                <td><span class="badge-class">.typo-heading-lg-bold</span></td>
              </tr>
              <tr>
                <td>
                  <div class="typo-heading-lg-semibold">가나다라마바사!@#$%^123456</div>
                </td>
                <td><span class="badge-class">.typo-heading-lg-semibold</span></td>
              </tr>
              <tr>
                <td>
                  <div class="typo-heading-lg-regular">가나다라마바사!@#$%^123456</div>
                </td>
                <td><span class="badge-class">.typo-heading-lg-regular</span></td>
              </tr>
              <tr>
                <td>
                  <div class="typo-heading-md-bold">가나다라마바사!@#$%^123456</div>
                </td>
                <td><span class="badge-class">.typo-heading-md-bold</span></td>
              </tr>
              <tr>
                <td>
                  <div class="typo-heading-md-semibold">가나다라마바사!@#$%^123456</div>
                </td>
                <td><span class="badge-class">.typo-heading-md-semibold</span></td>
              </tr>
              <tr>
                <td>
                  <div class="typo-heading-md-regular">가나다라마바사!@#$%^123456</div>
                </td>
                <td><span class="badge-class">.typo-heading-md-regular</span></td>
              </tr>
              <tr>
                <td>
                  <div class="typo-heading-sm-bold">가나다라마바사!@#$%^123456</div>
                </td>
                <td><span class="badge-class">.typo-heading-sm-bold</span></td>
              </tr>
              <tr>
                <td>
                  <div class="typo-heading-sm-semibold">가나다라마바사!@#$%^123456</div>
                </td>
                <td><span class="badge-class">.typo-heading-sm-semibold</span></td>
              </tr>
              <tr>
                <td>
                  <div class="typo-heading-sm-regular">가나다라마바사!@#$%^123456</div>
                </td>
                <td><span class="badge-class">.typo-heading-sm-regular</span></td>
              </tr>
              <tr>
                <td>
                  <div class="typo-body-lg-bold">가나다라마바사!@#$%^123456</div>
                </td>
                <td><span class="badge-class">.typo-body-lg-bold</span></td>
              </tr>
              <tr>
                <td>
                  <div class="typo-body-lg-semibold">가나다라마바사!@#$%^123456</div>
                </td>
                <td><span class="badge-class">.typo-body-lg-semibold</span></td>
              </tr>
              <tr>
                <td>
                  <div class="typo-body-lg-regular">가나다라마바사!@#$%^123456</div>
                </td>
                <td><span class="badge-class">.typo-body-lg-regular</span></td>
              </tr>
              <tr>
                <td>
                  <div class="typo-body-md-bold">가나다라마바사!@#$%^123456</div>
                </td>
                <td><span class="badge-class">.typo-body-md-bold</span></td>
              </tr>
              <tr>
                <td>
                  <div class="typo-body-md-semibold">가나다라마바사!@#$%^123456</div>
                </td>
                <td><span class="badge-class">.typo-body-md-semibold</span></td>
              </tr>
              <tr>
                <td>
                  <div class="typo-body-md-regular">가나다라마바사!@#$%^123456</div>
                </td>
                <td><span class="badge-class">.typo-body-md-regular</span></td>
              </tr>
              <tr>
                <td>
                  <div class="typo-body-sm-bold">가나다라마바사!@#$%^123456</div>
                </td>
                <td><span class="badge-class">.typo-body-sm-bold</span></td>
              </tr>
              <tr>
                <td>
                  <div class="typo-body-sm-semibold">가나다라마바사!@#$%^123456</div>
                </td>
                <td><span class="badge-class">.typo-body-sm-semibold</span></td>
              </tr>
              <tr>
                <td>
                  <div class="typo-body-sm-regular">가나다라마바사!@#$%^123456</div>
                </td>
                <td><span class="badge-class">.typo-body-sm-regular</span></td>
              </tr>
              <tr>
                <td>
                  <div class="typo-caption-lg-bold">가나다라마바사!@#$%^123456</div>
                </td>
                <td><span class="badge-class">.typo-caption-lg-bold</span></td>
              </tr>
              <tr>
                <td>
                  <div class="typo-caption-lg-semibold">가나다라마바사!@#$%^123456</div>
                </td>
                <td><span class="badge-class">.typo-caption-lg-semibold</span></td>
              </tr>
              <tr>
                <td>
                  <div class="typo-caption-lg-regular">가나다라마바사!@#$%^123456</div>
                </td>
                <td><span class="badge-class">.typo-caption-lg-regular</span></td>
              </tr>
              <tr>
                <td>
                  <div class="typo-caption-md-bold">가나다라마바사!@#$%^123456</div>
                </td>
                <td><span class="badge-class">.typo-caption-md-bold</span></td>
              </tr>
              <tr>
                <td>
                  <div class="typo-caption-md-semibold">가나다라마바사!@#$%^123456</div>
                </td>
                <td><span class="badge-class">.typo-caption-md-semibold</span></td>
              </tr>
              <tr>
                <td>
                  <div class="typo-caption-md-regular">가나다라마바사!@#$%^123456</div>
                </td>
                <td><span class="badge-class">.typo-caption-md-regular</span></td>
              </tr>
              <tr>
                <td>
                  <div class="typo-caption-sm-bold">가나다라마바사!@#$%^123456</div>
                </td>
                <td><span class="badge-class">.typo-caption-sm-bold</span></td>
              </tr>
              <tr>
                <td>
                  <div class="typo-caption-sm-semibold">가나다라마바사!@#$%^123456</div>
                </td>
                <td><span class="badge-class">.typo-caption-sm-semibold</span></td>
              </tr>
              <tr>
                <td>
                  <div class="typo-caption-sm-regular">가나다라마바사!@#$%^123456</div>
                </td>
                <td><span class="badge-class">.typo-caption-sm-regular</span></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>






    </section>

  </article>

</div>





















<div class="gd-content-wrap" id="n_typography">
  <h2>Typography</h2>
  <div class="gd-content">
    <article class="gd-example-wrap">
      <h3>style class</h3>
      <!-- 🧡💛 UI -->
      <div class="gd-example">
        <div class="table_wrap">
          <table class="table">
            <tbody>
              <tr>
                <td><div class="typo-display-lg-bold">가나다라마바사!@#$%^123456</div></td>
                <td><span class="badge-class">.typo-display-lg-bold</span></td>
              </tr>
              <tr>
                <td><div class="typo-display-lg-semibold">가나다라마바사!@#$%^123456</div></td>
                <td><span class="badge-class">.typo-display-lg-semibold</span></td>
              </tr>

              <tr>
                <td><div class="typo-display-lg-regular">가나다라마바사!@#$%^123456</div></td>
                <td><span class="badge-class">.typo-display-lg-regular</span></td>
              </tr>
              <tr>
                <td><div class="typo-display-md-bold">가나다라마바사!@#$%^123456</div></td>
                <td><span class="badge-class">.typo-display-md-bold</span></td>
              </tr>
              <tr>
                <td><div class="typo-display-md-semibold">가나다라마바사!@#$%^123456</div></td>
                <td><span class="badge-class">.typo-display-md-semibold</span></td>
              </tr>

              <tr>
                <td><div class="typo-display-md-regular">가나다라마바사!@#$%^123456</div></td>
                <td><span class="badge-class">.typo-display-md-regular</span></td>
              </tr>
              <tr>
                <td><div class="typo-display-sm-bold">가나다라마바사!@#$%^123456</div></td>
                <td><span class="badge-class">.typo-display-sm-bold</span></td>
              </tr>
              <tr>
                <td><div class="typo-display-sm-semibold">가나다라마바사!@#$%^123456</div></td>
                <td><span class="badge-class">.typo-display-sm-semibold</span></td>
              </tr>

              <tr>
                <td><div class="typo-display-sm-regular">가나다라마바사!@#$%^123456</div></td>
                <td><span class="badge-class">.typo-display-sm-regular</span></td>
              </tr>
              <tr>
                <td><div class="typo-heading-lg-bold">가나다라마바사!@#$%^123456</div></td>
                <td><span class="badge-class">.typo-heading-lg-bold</span></td>
              </tr>
              <tr>
                <td><div class="typo-heading-lg-semibold">가나다라마바사!@#$%^123456</div></td>
                <td><span class="badge-class">.typo-heading-lg-semibold</span></td>
              </tr>

              <tr>
                <td><div class="typo-heading-lg-regular">가나다라마바사!@#$%^123456</div></td>
                <td><span class="badge-class">.typo-heading-lg-regular</span></td>
              </tr>
              <tr>
                <td><div class="typo-heading-md-bold">가나다라마바사!@#$%^123456</div></td>
                <td><span class="badge-class">.typo-heading-md-bold</span></td>
              </tr>
              <tr>
                <td><div class="typo-heading-md-semibold">가나다라마바사!@#$%^123456</div></td>
                <td><span class="badge-class">.typo-heading-md-semibold</span></td>
              </tr>

              <tr>
                <td><div class="typo-heading-md-regular">가나다라마바사!@#$%^123456</div></td>
                <td><span class="badge-class">.typo-heading-md-regular</span></td>
              </tr>
              <tr>
                <td><div class="typo-heading-sm-bold">가나다라마바사!@#$%^123456</div></td>
                <td><span class="badge-class">.typo-heading-sm-bold</span></td>
              </tr>
              <tr>
                <td><div class="typo-heading-sm-semibold">가나다라마바사!@#$%^123456</div></td>
                <td><span class="badge-class">.typo-heading-sm-semibold</span></td>
              </tr>
 
              <tr>
                <td><div class="typo-heading-sm-regular">가나다라마바사!@#$%^123456</div></td>
                <td><span class="badge-class">.typo-heading-sm-regular</span></td>
              </tr>
              <tr>
                <td><div class="typo-body-lg-bold">가나다라마바사!@#$%^123456</div></td>
                <td><span class="badge-class">.typo-body-lg-bold</span></td>
              </tr>
              <tr>
                <td><div class="typo-body-lg-semibold">가나다라마바사!@#$%^123456</div></td>
                <td><span class="badge-class">.typo-body-lg-semibold</span></td>
              </tr>

              <tr>
                <td><div class="typo-body-lg-regular">가나다라마바사!@#$%^123456</div></td>
                <td><span class="badge-class">.typo-body-lg-regular</span></td>
              </tr>
              <tr>
                <td><div class="typo-body-md-bold">가나다라마바사!@#$%^123456</div></td>
                <td><span class="badge-class">.typo-body-md-bold</span></td>
              </tr>
              <tr>
                <td><div class="typo-body-md-semibold">가나다라마바사!@#$%^123456</div></td>
                <td><span class="badge-class">.typo-body-md-semibold</span></td>
              </tr>

              <tr>
                <td><div class="typo-body-md-regular">가나다라마바사!@#$%^123456</div></td>
                <td><span class="badge-class">.typo-body-md-regular</span></td>
              </tr>
              <tr>
                <td><div class="typo-body-sm-bold">가나다라마바사!@#$%^123456</div></td>
                <td><span class="badge-class">.typo-body-sm-bold</span></td>
              </tr>
              <tr>
                <td><div class="typo-body-sm-semibold">가나다라마바사!@#$%^123456</div></td>
                <td><span class="badge-class">.typo-body-sm-semibold</span></td>
              </tr>

              <tr>
                <td><div class="typo-body-sm-regular">가나다라마바사!@#$%^123456</div></td>
                <td><span class="badge-class">.typo-body-sm-regular</span></td>
              </tr>
              <tr>
                <td><div class="typo-caption-lg-bold">가나다라마바사!@#$%^123456</div></td>
                <td><span class="badge-class">.typo-caption-lg-bold</span></td>
              </tr>
              <tr>
                <td><div class="typo-caption-lg-semibold">가나다라마바사!@#$%^123456</div></td>
                <td><span class="badge-class">.typo-caption-lg-semibold</span></td>
              </tr>

              <tr>
                <td><div class="typo-caption-lg-regular">가나다라마바사!@#$%^123456</div></td>
                <td><span class="badge-class">.typo-caption-lg-regular</span></td>
              </tr>
              <tr>
                <td><div class="typo-caption-md-bold">가나다라마바사!@#$%^123456</div></td>
                <td><span class="badge-class">.typo-caption-md-bold</span></td>
              </tr>
              <tr>
                <td><div class="typo-caption-md-semibold">가나다라마바사!@#$%^123456</div></td>
                <td><span class="badge-class">.typo-caption-md-semibold</span></td>
              </tr>

              <tr>
                <td><div class="typo-caption-md-regular">가나다라마바사!@#$%^123456</div></td>
                <td><span class="badge-class">.typo-caption-md-regular</span></td>
              </tr>
              <tr>
                <td><div class="typo-caption-sm-bold">가나다라마바사!@#$%^123456</div></td>
                <td><span class="badge-class">.typo-caption-sm-bold</span></td>
              </tr>
              <tr>
                <td><div class="typo-caption-sm-semibold">가나다라마바사!@#$%^123456</div></td>
                <td><span class="badge-class">.typo-caption-sm-semibold</span></td>
              </tr>

              <tr>
                <td><div class="typo-caption-sm-regular">가나다라마바사!@#$%^123456</div></td>
                <td><span class="badge-class">.typo-caption-sm-regular</span></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- //🧡💛 UI -->  
      <!-- 🔴🟡 code -->
      <div class="code-head">
        <span class="tit">HTML</span>
      </div>
      <code class="code-area">
        <pre class="brush: html;">                  
            <div class="typo-display-lg-bold">가나다라!@#$1234</div>
            <div class="typo-display-lg-semibold">가나다라!@#$1234</div>
            <div class="typo-display-lg-medium">가나다라!@#$1234</div>
            <div class="typo-display-lg-regular">가나다라!@#$1234</div>                    
            <div class="typo-display-md-bold">가나다라!@#$1234</div> 
            <div class="typo-display-md-semibold">가나다라!@#$1234</div>
            <div class="typo-display-md-medium">가나다라!@#$1234</div>
            <div class="typo-display-md-regular">가나다라!@#$1234</div>                    
            <div class="typo-display-sm-bold">가나다라!@#$1234</div>
            <div class="typo-display-sm-semibold">가나다라!@#$1234</div>
            <div class="typo-display-sm-medium">가나다라!@#$1234</div>
            <div class="typo-display-sm-regular">가나다라!@#$1234</div>                    
            <div class="typo-heading-lg-bold">가나다라!@#$1234</div>
            <div class="typo-heading-lg-semibold">가나다라!@#$1234</div>
            <div class="typo-heading-lg-medium">가나다라!@#$1234</div>
            <div class="typo-heading-lg-regular">가나다라!@#$1234</div>                    
            <div class="typo-heading-md-bold">가나다라!@#$1234</div>
            <div class="typo-heading-md-semibold">가나다라!@#$1234</div>
            <div class="typo-heading-md-medium">가나다라!@#$1234</div>
            <div class="typo-heading-md-regular">가나다라!@#$1234</div>                    
            <div class="typo-heading-sm-bold">가나다라!@#$1234</div>
            <div class="typo-heading-sm-semibold">가나다라!@#$1234</div>
            <div class="typo-heading-sm-medium">가나다라!@#$1234</div>
            <div class="typo-heading-sm-regular ">가나다라!@#$1234</div>                    
            <div class="typo-body-lg-bold">가나다라!@#$1234</div>
            <div class="typo-body-lg-semibold">가나다라!@#$1234</div>
            <div class="typo-body-lg-medium">가나다라!@#$1234</div>
            <div class="typo-body-lg-regular ">가나다라!@#$1234</div>                    
            <div class="typo-body-md-bold">가나다라!@#$1234</div>
            <div class="typo-body-md-semibold">가나다라!@#$1234</div>
            <div class="typo-body-md-medium">가나다라!@#$1234</div>
            <div class="typo-body-md-regular">가나다라!@#$1234</div>                    
            <div class="typo-body-sm-bold">가나다라!@#$1234</div>
            <div class="typo-body-sm-semibold">가나다라!@#$1234</div>
            <div class="typo-body-sm-medium">가나다라!@#$1234</div>
            <div class="typo-body-sm-regular">가나다라!@#$1234</div>                    
            <div class="typo-caption-lg-bold">가나다라!@#$1234</div>
            <div class="typo-caption-lg-semibold">가나다라!@#$1234</div>
            <div class="typo-caption-lg-medium">가나다라!@#$1234</div>
            <div class="typo-caption-lg-regular ">가나다라!@#$1234 </div>                    
            <div class="typo-caption-md-bold">가나다라!@#$1234</div>
            <div class="typo-caption-md-semibold">가나다라!@#$1234</div>
            <div class="typo-caption-md-medium">가나다라!@#$1234</div>
            <div class="typo-caption-md-regular ">가나다라!@#$1234</div>                    
            <div class="typo-caption-sm-bold">가나다라!@#$1234</div>
            <div class="typo-caption-sm-semibold">가나다라!@#$1234</div>
            <div class="typo-caption-sm-medium">가나다라!@#$1234</div>
            <div class="typo-caption-sm-regular">가나다라!@#$1234</div>                    
        </pre>
        <button class="btn-clipboard-copy btn btn-sm" data-toggle="tooltip" data-placement="top" title="" data-original-title="코드복사">
          <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M6.66634 5.83333V12.5C6.66634 12.942 6.84194 13.366 7.1545 13.6785C7.46706 13.9911 7.89098 14.1667 8.33301 14.1667H13.333M6.66634 5.83333V4.16667C6.66634 3.72464 6.84194 3.30072 7.1545 2.98816C7.46706 2.67559 7.89098 2.5 8.33301 2.5H12.1547C12.3757 2.50005 12.5876 2.58788 12.7438 2.74417L16.4222 6.4225C16.5785 6.57874 16.6663 6.79067 16.6663 7.01167V12.5C16.6663 12.942 16.4907 13.366 16.1782 13.6785C15.8656 13.9911 15.4417 14.1667 14.9997 14.1667H13.333M6.66634 5.83333H4.99967C4.55765 5.83333 4.13372 6.00893 3.82116 6.32149C3.5086 6.63405 3.33301 7.05797 3.33301 7.5V15.8333C3.33301 16.2754 3.5086 16.6993 3.82116 17.0118C4.13372 17.3244 4.55765 17.5 4.99967 17.5H11.6663C12.1084 17.5 12.5323 17.3244 12.8449 17.0118C13.1574 16.6993 13.333 16.2754 13.333 15.8333V14.1667" stroke="currentColor" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </button>
      </code>
      <!-- //🔴🟡 code -->
      <!-- 🔴🟡 code -->
      <div class="code-head">
        <span class="tit">SCSS</span>
      </div>
      <code class="code-area">
        <pre class="brush:css;">
          .class{@includetypo-display-lg-bold}
          .class{@includetypo-display-lg-semibold}
          .class{@includetypo-display-lg-medium}
          .class{@includetypo-display-lg-regular}                  
          .class{@includetypo-display-md-bold}
          .class{@includetypo-display-md-semibold}
          .class{@includetypo-display-md-medium}
          .class{@includetypo-display-md-regular}                  
          .class{@includetypo-display-sm-bold}
          .class{@includetypo-display-sm-semibold}
          .class{@includetypo-display-sm-medium}
          .class{@includetypo-display-sm-regular}
          .class{@includetypo-heading-lg-bold}
          .class{@includetypo-heading-lg-semibold}
          .class{@includetypo-heading-lg-medium}
          .class{@includetypo-heading-lg-regular}                  
          .class{@includetypo-heading-md-bold}
          .class{@includetypo-heading-md-semibold}
          .class{@includetypo-heading-md-medium}
          .class{@includetypo-heading-md-regular}                  
          .class{@includetypo-heading-sm-bold }
          .class{@includetypo-heading-sm-semibold}
          .class{@includetypo-heading-sm-medium}
          .class{@includetypo-heading-sm-regular}                  
          .class{@includetypo-body-lg-bold}
          .class{@includetypo-body-lg-semibold}
          .class{@includetypo-body-lg-medium}
          .class{@includetypo-body-lg-regular}                  
          .class{@includetypo-body-md-bold}
          .class{@includetypo-body-md-semibold}
          .class{@includetypo-body-md-medium}
          .class{@includetypo-body-md-regular}                  
          .class{@includetypo-body-sm-bold}
          .class{@includetypo-body-sm-semibold}
          .class{@includetypo-body-sm-medium}
          .class{@includetypo-body-sm-regular}                  
          .class{@includetypo-caption-lg-bold}
          .class{@includetypo-caption-lg-semibold}
          .class{@includetypo-caption-lg-medium}
          .class{@includetypo-caption-lg-regular}                  
          .class{@includetypo-caption-md-bold}
          .class{@includetypo-caption-md-semibold}
          .class{@includetypo-caption-md-medium}
          .class{@includetypo-caption-md-regular}                  
          .class{@includetypo-caption-sm-bold}
          .class{@includetypo-caption-sm-semibold}
          .class{@includetypo-caption-sm-medium}
          .class{@includetypo-caption-sm-regular}                  
        </pre>
        <button class="btn-clipboard-copy btn btn-sm" data-toggle="tooltip" data-placement="top" title="" data-original-title="코드복사">
          <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M6.66634 5.83333V12.5C6.66634 12.942 6.84194 13.366 7.1545 13.6785C7.46706 13.9911 7.89098 14.1667 8.33301 14.1667H13.333M6.66634 5.83333V4.16667C6.66634 3.72464 6.84194 3.30072 7.1545 2.98816C7.46706 2.67559 7.89098 2.5 8.33301 2.5H12.1547C12.3757 2.50005 12.5876 2.58788 12.7438 2.74417L16.4222 6.4225C16.5785 6.57874 16.6663 6.79067 16.6663 7.01167V12.5C16.6663 12.942 16.4907 13.366 16.1782 13.6785C15.8656 13.9911 15.4417 14.1667 14.9997 14.1667H13.333M6.66634 5.83333H4.99967C4.55765 5.83333 4.13372 6.00893 3.82116 6.32149C3.5086 6.63405 3.33301 7.05797 3.33301 7.5V15.8333C3.33301 16.2754 3.5086 16.6993 3.82116 17.0118C4.13372 17.3244 4.55765 17.5 4.99967 17.5H11.6663C12.1084 17.5 12.5323 17.3244 12.8449 17.0118C13.1574 16.6993 13.333 16.2754 13.333 15.8333V14.1667" stroke="currentColor" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </button>
      </code>
      <!-- //🔴🟡 code -->
      <div class="gd-desc">
        <ul class="list_dot list_mb7px">
          <li>- 미리 정의된 클래스를 태그에 추가하여 사용하는 것을 권장.</li>                  
        </ul>
      </div>
    </article>



    <article class="gd-example-wrap">
      <h3>자주쓰는 Typo</h3>
      <!-- 🧡💛 UI -->
      <div class="gd-example">
        <div class="typo-heading-lg-bold">모달타이틀용</div>
        <div class="h2">페이지 사이트맵용</div>
        <div class="h3">콘텐츠 타이틀용</div>
        <div class="h4">콘텐츠 서브타이틀용</div>
        <div class="h5">본문텍스트보다 강조하고싶을때</div>
        <div>본문텍스트</div>
        <div class="typo-caption-lg-regular">서브텍스트</div>

        <!-- .title-lg{@include typo-heading-lg-bold;}
        .title-md{@include typo-heading-md-bold;}
        .title-sm{@include typo-heading-sm-bold;}
        
        .body-lg{@include typo-body-lg-regular;}
        .body-md{@include typo-body-md-regular;}
        
        .caption-lg{@include typo-caption-lg-regular;}
        .caption-md{@include typo-caption-md-regular;} -->
        

        <div class="title-lg">페이지 사이트맵용</div>
        <div class="title-md">페이지 사이트맵용</div>
        <div class="title-sm">페이지 사이트맵용</div>
        <div class="body-lg">페이지 사이트맵용</div>
        <div class="body-md">페이지 사이트맵용</div>
        <div class="caption-lg">페이지 사이트맵용</div>
      </div>
      <!-- //🧡💛 UI -->  
      <!-- 🔴🟡 code -->
      <div class="code-head">
        <span class="tit">HTML</span>
      </div>
      <code class="code-area">
        <pre class="brush: html;">
          <div class="typo-heading-lg-bold">모달타이틀용</div>
          <div class="h2">페이지 사이트맵용</div>
          <div class="h3">콘텐츠 타이틀용</div>
          <div class="h4">콘텐츠 서브타이틀용</div>
          <div class="h5">본문텍스트보다 강조하고싶을때</div>
          <div>본문텍스트</div>
          <div class="typo-caption-lg-regular">서브텍스트</div>
        </pre>
        <button class="btn-clipboard-copy btn btn-sm" data-toggle="tooltip" data-placement="top" title="" data-original-title="코드복사">
          <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M6.66634 5.83333V12.5C6.66634 12.942 6.84194 13.366 7.1545 13.6785C7.46706 13.9911 7.89098 14.1667 8.33301 14.1667H13.333M6.66634 5.83333V4.16667C6.66634 3.72464 6.84194 3.30072 7.1545 2.98816C7.46706 2.67559 7.89098 2.5 8.33301 2.5H12.1547C12.3757 2.50005 12.5876 2.58788 12.7438 2.74417L16.4222 6.4225C16.5785 6.57874 16.6663 6.79067 16.6663 7.01167V12.5C16.6663 12.942 16.4907 13.366 16.1782 13.6785C15.8656 13.9911 15.4417 14.1667 14.9997 14.1667H13.333M6.66634 5.83333H4.99967C4.55765 5.83333 4.13372 6.00893 3.82116 6.32149C3.5086 6.63405 3.33301 7.05797 3.33301 7.5V15.8333C3.33301 16.2754 3.5086 16.6993 3.82116 17.0118C4.13372 17.3244 4.55765 17.5 4.99967 17.5H11.6663C12.1084 17.5 12.5323 17.3244 12.8449 17.0118C13.1574 16.6993 13.333 16.2754 13.333 15.8333V14.1667" stroke="currentColor" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </button>
      </code>
      <!-- //🔴🟡 code -->
      <div class="gd-desc">
        <div>
          *h1, .h1은 로고영역에 사용하므로 타이포그래피에서 사용할 일 없음.
          h2, .h2부터 사용.
        </div>
      </div>
    </article>




  </div>
</div>