<div class="gd-content-wrap" id="n_typography">
  <h2 class="gd-tit">Typography</h2>
  <div class="gd-infoArea">
    <a class="button-textLink" href="https://www.figma.com/file/8Aum3Py2NiZ2BDQJDtBJcG/Icon-Library-(Community)?type=design&node-id=1%3A1055&mode=design&t=bI7KG2e0DHffSslC-1" target="_blank">Figma</a>에서 flatten처리 후 
    <a class="button-textLink" href="https://jakearchibald.github.io/svgomg/" target="_blank">SVGOMG</a>
    사이트에서 svg파일을 최적화하여 추가합니다.
  </div>
  
  <article>
    <section>
      <h3 class="gd-subTit">Utility Class</h3>
      <div class="mb-40px">
        <h4 class="gd-subTit-sm">weight</h4>
        <div class="gdTable-wrap" style="max-height:500px;">
          <table class="gdTable">
            <tbody>
              <tr>
                <td>
                  <div class="fw-bold">가나다라마바사!@#$%^123456</div>
                </td>
                <td><span class="badge-class">.fw-bold</span></td>
              </tr>
              <tr>
                <td>
                  <div class="fw-semibold">가나다라마바사!@#$%^123456</div>
                </td>
                <td><span class="badge-class">.fw-semibold</span></td>
              </tr>
              <tr>
                <td>
                  <div class="fw-regular">가나다라마바사!@#$%^123456</div>
                </td>
                <td><span class="badge-class">.fw-regular</span></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="mb-40px">
        <h4 class="gd-subTit-sm">color</h4>
        <div class="gdTable-wrap" style="max-height:500px;">
          <table class="gdTable">
            <tbody>
              <tr>
                <td>
                  <div class="fw-bold">가나다라마바사!@#$%^123456</div>
                </td>
                <td><span class="badge-class">.fw-bold</span></td>
              </tr>
              
            </tbody>
          </table>
        </div>
      </div>
    </section>
    <section>
      <h3 class="gd-subTit">Style Class</h3>
      <div class="mb-40px">
        <div class="gdTable-wrap" style="max-height:500px;">
          <table class="gdTable">
            <tbody>
              <tr>
                <td>
                  <div class="typo-display-lg-bold">가나다라마바사!@#$%^123456</div>
                </td>
                <td><span class="badge-class">.typo-display-lg-bold</span></td>
              </tr>
              <tr>
                <td>
                  <div class="typo-display-lg-semibold">가나다라마바사!@#$%^123456</div>
                </td>
                <td><span class="badge-class">.typo-display-lg-semibold</span></td>
              </tr>
              <tr>
                <td>
                  <div class="typo-display-lg-regular">가나다라마바사!@#$%^123456</div>
                </td>
                <td><span class="badge-class">.typo-display-lg-regular</span></td>
              </tr>
              <tr>
                <td>
                  <div class="typo-display-md-bold">가나다라마바사!@#$%^123456</div>
                </td>
                <td><span class="badge-class">.typo-display-md-bold</span></td>
              </tr>
              <tr>
                <td>
                  <div class="typo-display-md-semibold">가나다라마바사!@#$%^123456</div>
                </td>
                <td><span class="badge-class">.typo-display-md-semibold</span></td>
              </tr>
              <tr>
                <td>
                  <div class="typo-display-md-regular">가나다라마바사!@#$%^123456</div>
                </td>
                <td><span class="badge-class">.typo-display-md-regular</span></td>
              </tr>
              <tr>
                <td>
                  <div class="typo-display-sm-bold">가나다라마바사!@#$%^123456</div>
                </td>
                <td><span class="badge-class">.typo-display-sm-bold</span></td>
              </tr>
              <tr>
                <td>
                  <div class="typo-display-sm-semibold">가나다라마바사!@#$%^123456</div>
                </td>
                <td><span class="badge-class">.typo-display-sm-semibold</span></td>
              </tr>
              <tr>
                <td>
                  <div class="typo-display-sm-regular">가나다라마바사!@#$%^123456</div>
                </td>
                <td><span class="badge-class">.typo-display-sm-regular</span></td>
              </tr>
              <tr>
                <td>
                  <div class="typo-heading-lg-bold">가나다라마바사!@#$%^123456</div>
                </td>
                <td><span class="badge-class">.typo-heading-lg-bold</span></td>
              </tr>
              <tr>
                <td>
                  <div class="typo-heading-lg-semibold">가나다라마바사!@#$%^123456</div>
                </td>
                <td><span class="badge-class">.typo-heading-lg-semibold</span></td>
              </tr>
              <tr>
                <td>
                  <div class="typo-heading-lg-regular">가나다라마바사!@#$%^123456</div>
                </td>
                <td><span class="badge-class">.typo-heading-lg-regular</span></td>
              </tr>
              <tr>
                <td>
                  <div class="typo-heading-md-bold">가나다라마바사!@#$%^123456</div>
                </td>
                <td><span class="badge-class">.typo-heading-md-bold</span></td>
              </tr>
              <tr>
                <td>
                  <div class="typo-heading-md-semibold">가나다라마바사!@#$%^123456</div>
                </td>
                <td><span class="badge-class">.typo-heading-md-semibold</span></td>
              </tr>
              <tr>
                <td>
                  <div class="typo-heading-md-regular">가나다라마바사!@#$%^123456</div>
                </td>
                <td><span class="badge-class">.typo-heading-md-regular</span></td>
              </tr>
              <tr>
                <td>
                  <div class="typo-heading-sm-bold">가나다라마바사!@#$%^123456</div>
                </td>
                <td><span class="badge-class">.typo-heading-sm-bold</span></td>
              </tr>
              <tr>
                <td>
                  <div class="typo-heading-sm-semibold">가나다라마바사!@#$%^123456</div>
                </td>
                <td><span class="badge-class">.typo-heading-sm-semibold</span></td>
              </tr>
              <tr>
                <td>
                  <div class="typo-heading-sm-regular">가나다라마바사!@#$%^123456</div>
                </td>
                <td><span class="badge-class">.typo-heading-sm-regular</span></td>
              </tr>
              <tr>
                <td>
                  <div class="typo-body-lg-bold">가나다라마바사!@#$%^123456</div>
                </td>
                <td><span class="badge-class">.typo-body-lg-bold</span></td>
              </tr>
              <tr>
                <td>
                  <div class="typo-body-lg-semibold">가나다라마바사!@#$%^123456</div>
                </td>
                <td><span class="badge-class">.typo-body-lg-semibold</span></td>
              </tr>
              <tr>
                <td>
                  <div class="typo-body-lg-regular">가나다라마바사!@#$%^123456</div>
                </td>
                <td><span class="badge-class">.typo-body-lg-regular</span></td>
              </tr>
              <tr>
                <td>
                  <div class="typo-body-md-bold">가나다라마바사!@#$%^123456</div>
                </td>
                <td><span class="badge-class">.typo-body-md-bold</span></td>
              </tr>
              <tr>
                <td>
                  <div class="typo-body-md-semibold">가나다라마바사!@#$%^123456</div>
                </td>
                <td><span class="badge-class">.typo-body-md-semibold</span></td>
              </tr>
              <tr>
                <td>
                  <div class="typo-body-md-regular">가나다라마바사!@#$%^123456</div>
                </td>
                <td><span class="badge-class">.typo-body-md-regular</span></td>
              </tr>
              <tr>
                <td>
                  <div class="typo-body-sm-bold">가나다라마바사!@#$%^123456</div>
                </td>
                <td><span class="badge-class">.typo-body-sm-bold</span></td>
              </tr>
              <tr>
                <td>
                  <div class="typo-body-sm-semibold">가나다라마바사!@#$%^123456</div>
                </td>
                <td><span class="badge-class">.typo-body-sm-semibold</span></td>
              </tr>
              <tr>
                <td>
                  <div class="typo-body-sm-regular">가나다라마바사!@#$%^123456</div>
                </td>
                <td><span class="badge-class">.typo-body-sm-regular</span></td>
              </tr>
              <tr>
                <td>
                  <div class="typo-caption-lg-bold">가나다라마바사!@#$%^123456</div>
                </td>
                <td><span class="badge-class">.typo-caption-lg-bold</span></td>
              </tr>
              <tr>
                <td>
                  <div class="typo-caption-lg-semibold">가나다라마바사!@#$%^123456</div>
                </td>
                <td><span class="badge-class">.typo-caption-lg-semibold</span></td>
              </tr>
              <tr>
                <td>
                  <div class="typo-caption-lg-regular">가나다라마바사!@#$%^123456</div>
                </td>
                <td><span class="badge-class">.typo-caption-lg-regular</span></td>
              </tr>
              <tr>
                <td>
                  <div class="typo-caption-md-bold">가나다라마바사!@#$%^123456</div>
                </td>
                <td><span class="badge-class">.typo-caption-md-bold</span></td>
              </tr>
              <tr>
                <td>
                  <div class="typo-caption-md-semibold">가나다라마바사!@#$%^123456</div>
                </td>
                <td><span class="badge-class">.typo-caption-md-semibold</span></td>
              </tr>
              <tr>
                <td>
                  <div class="typo-caption-md-regular">가나다라마바사!@#$%^123456</div>
                </td>
                <td><span class="badge-class">.typo-caption-md-regular</span></td>
              </tr>
              <tr>
                <td>
                  <div class="typo-caption-sm-bold">가나다라마바사!@#$%^123456</div>
                </td>
                <td><span class="badge-class">.typo-caption-sm-bold</span></td>
              </tr>
              <tr>
                <td>
                  <div class="typo-caption-sm-semibold">가나다라마바사!@#$%^123456</div>
                </td>
                <td><span class="badge-class">.typo-caption-sm-semibold</span></td>
              </tr>
              <tr>
                <td>
                  <div class="typo-caption-sm-regular">가나다라마바사!@#$%^123456</div>
                </td>
                <td><span class="badge-class">.typo-caption-sm-regular</span></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </section>

  </article>

</div>





















