<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="robots" content="all">
  <title>시스템관리 > 시스템설정</title>
  <link rel=icon href="../assets/images/favicon.ico"> 

  <link rel="stylesheet" href="../assets/lib/bootstrap-4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="../assets/lib/jquery-ui-1.12.1/jquery-ui.min.css">
  <link rel="stylesheet" href="../assets/lib/vue-treeselect-0.4.0/vue-treeselect.css"><!-- vue tree select ui 확인용-->
  <link rel="stylesheet" href="../assets/css/style.css">
  <!-- 
    [material-icons] npm으로 설치해주세요.
    https://github.com/marella/material-icons?tab=readme-ov-file#readme
  -->
  <link rel="stylesheet" href="../../node_modules/material-icons/iconfont/material-icons.css">

  <script src="../assets/lib/jquery-3.3.1/jquery-3.3.1.min.js"></script>
  <script src="../assets/lib/jquery-ui-1.12.1/jquery-ui.min.js"></script>
  <script src="../assets/lib/bootstrap-4.3.1/js/popper.min.js"></script>
  <script src="../assets/lib/bootstrap-4.3.1/js/bootstrap.min.js"></script>
  <script src="../assets/lib/vue-2.6.14/vue-2.6.14.js"></script><!-- vue tree select ui 확인용-->
  <script src="../assets/lib/vue-treeselect-0.4.0/vue-treeselect.umd.min.js"></script><!-- vue tree select ui 확인용-->
</head>

<body>
  <div id="wrap" class="wrap memberSet-page">
    @@include('./include/header.html')
    <div class="content">
      @@include('./include/lnb.html')
      <main class="main-cont">
        <!-- <div class="main-header">
          <div class="breadcrumbs">
            <ul>
              <li>
                <h2>시스템관리</h2>
              </li>
              <li class="arrow">
                <svg class="ico col-lightgray" role="presentation" aria-hidden="true" focusable="false">
                  <use xlink:href="#ico-arr_right"></use>
                </svg>
              </li>
              <li class="current">
                <h2>계정 관리 및 설정</h2>
                <div class="btn-guide-area ml-8px">
                  <button type="button" class="btn-guide mask-20px">
                    <svg class="ico ico-lightgray ico-sm" role="presentation" aria-hidden="true" focusable="false">
                      <use xlink:href="#ico-help"></use>
                    </svg>
                  </button>
                  <div class="guide-tooltip">
                    <div class="inner">
                      <p> 내용입력 영역<br> 줄바꿈하고 싶으면 <br> br태그로 줄바꿈해서 입력해주세요. </p>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div> -->
        <div class="main-body">
          <!-- <div class="util-bar">

          </div> -->
          <h2 class="page-tit">역할 관리</h2>
          <div class="table-head-area d-flex justify-content-between align-items-end mb-16px">
            <div class="d-flex align-items-end">
              <div class="form-block">
                <label for="accountKeyword">검색어</label>
                <input id="accountKeyword" class="w-180px" type="text" placeholder="검색어 입력" title="검색어 입력" autocomplete="off">
              </div>
              <button type="submit" class="button  button-outline button-md ml-8px">검색</button>
              <button type="button" class="button button-outline button-md ico-only ml-8px" aria-label="검색 초기화">
                <svg class="ico" role="presentation" aria-hidden="true" focusable="false">
                  <use xlink:href="#ico-refresh"></use>
                </svg>
              </button>
            </div>
            <div class="d-flex align-item-center">
              <button type="button" class="button button-primary button-md" data-toggle="modal" data-target="#modal-addRole">
                <svg class="ico" role="presentation" aria-hidden="true" focusable="false">
                  <use xlink:href="#ico-plus"></use>
                </svg>역할 추가 </button>
              <button type="button" class="button button-outline disabled ml-8px"> 선택 삭제 </button>


            </div>
          </div>



          <div class="table-area" style="overflow-x: unset;">
            <table class="table-wrap border-none">
              <colgroup>
                <col width="50px;">
                <col style="width:150px">
                <col style="width:150px">
                <col style="width:">

              </colgroup>
              <thead>
                <tr class="text-center">
                  <th>
                    <div class="custom-control custom-checkbox justify-content-center sm">
                      <input type="checkbox" class="custom-control-input" id="list_check1">
                      <label class="custom-control-label" for="list_check1"></label>
                    </div>
                  </th>
                  <th class="text-left">역할명</th>
                  <th  class="text-left">역할의 유형</th>
                  <th  class="text-left">상담원 권한</th>
                  <!-- <th class="">관리도구 메뉴권한</th>
                  <th class="">상담/관리 권한</th>
                  <th class="">접근 부서 권한</th>
                  <th class="">역할별 지식관리</th>
                  <th class="">어드바이저 화면 권한</th> -->
                  
                  <th></th>
                </tr>
              </thead>
              <tbody class="text-center">
                <tr>
                  <td>
                    <div class="custom-control custom-checkbox justify-content-center sm">
                      <input type="checkbox" class="custom-control-input" id="list_check1">
                      <label class="custom-control-label" for="list_check1"></label>
                    </div>
                  </td>
                  <td class="text-left">
                    기본 일반 상담원
                  </td>
                  <td class="text-left">관리도구전용</td>
                  <td class="text-left">관리도구전용</td>
                  <td class="txt-right">
                    <div class="d-flex justify-content-end">
                      <button type="button" class="dropdown-toggle button button-ghost button-sm ico-only ml-8px" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-label="메뉴 더보기">
                        <svg class="ico ico-sm ico-lightgray" role="presentation" aria-hidden="true" focusable="false">
                          <use xlink:href="#ico-more"></use>
                        </svg>
                      </button>
                      <div class="dropdown-menu dropdown-menu-right  w-140px">
                        <ul class="dropdown-list">
                          <li class="dropdown-list-item"><button class="d-flex w-100 py-6px px-12px" data-toggle="modal" data-target="#modal-role">역할 수정</button></li>
                          <li class="dropdown-list-item"><button class="d-flex w-100 py-6px px-12px">권한 설정</button></li>
                          <li class="dropdown-list-item"><button class="d-flex w-100 py-6px px-12px">상담/관리 권한</button></li>
                          <li class="dropdown-list-item"><button class="d-flex w-100 py-6px px-12px">역할별 지식관리</button></li>
                          <li class="dropdown-list-item"><button class="d-flex w-100 py-6px px-12px col-red" style="padding-top:4px;margin-top:4px;border-top:1px solid #eee;">삭제</button></li>
                        </ul>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="custom-control custom-checkbox justify-content-center sm">
                      <input type="checkbox" class="custom-control-input" id="list_check1">
                      <label class="custom-control-label" for="list_check1"></label>
                    </div>
                  </td>
                  <td class="text-left">
                    시스템 관리자
                  </td>
                  <td class="text-left">관리도구전용</td>
                  <td class="text-left">관리도구전용</td>
                  <td class="txt-right">
                    <div class="d-flex justify-content-end">
                      <button type="button" class="dropdown-toggle button button-ghost button-sm ico-only ml-8px" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-label="메뉴 더보기">
                        <svg class="ico ico-sm ico-lightgray" role="presentation" aria-hidden="true" focusable="false">
                          <use xlink:href="#ico-more"></use>
                        </svg>
                      </button>
                      <div class="dropdown-menu dropdown-menu-right  w-140px">
                        <ul class="dropdown-list">
                          <li class="dropdown-list-item"><button class="d-flex w-100 py-6px px-12px"  data-toggle="modal" data-target="#modal-role">역할 수정</button></li>
                          <li class="dropdown-list-item"><button class="d-flex w-100 py-6px px-12px">권한 설정</button></li>
                          <li class="dropdown-list-item"><button class="d-flex w-100 py-6px px-12px">상담/관리 권한</button></li>
                          <li class="dropdown-list-item"><button class="d-flex w-100 py-6px px-12px">역할별 지식관리</button></li>
                          <li class="dropdown-list-item"><button class="d-flex w-100 py-6px px-12px col-red" style="padding-top:4px;margin-top:4px;border-top:1px solid #eee;">삭제</button></li>
                        </ul>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="custom-control custom-checkbox justify-content-center sm">
                      <input type="checkbox" class="custom-control-input" id="list_check1">
                      <label class="custom-control-label" for="list_check1"></label>
                    </div>
                  </td>
                  <td class="text-left">
                    시스템 관리자
                  </td>
                  <td class="text-left">관리도구전용</td>
                  <td class="text-left">관리도구전용</td>
                  <td class="txt-right">
                    <div class="d-flex justify-content-end">
                      <button type="button" class="dropdown-toggle button button-ghost button-sm ico-only ml-8px" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-label="메뉴 더보기">
                        <svg class="ico ico-sm ico-lightgray" role="presentation" aria-hidden="true" focusable="false">
                          <use xlink:href="#ico-more"></use>
                        </svg>
                      </button>
                      <div class="dropdown-menu dropdown-menu-right  w-140px">
                        <ul class="dropdown-list">
                          <li class="dropdown-list-item"><button class="d-flex w-100 py-6px px-12px"  data-toggle="modal" data-target="#modal-role">역할 수정</button></li>
                          <li class="dropdown-list-item"><button class="d-flex w-100 py-6px px-12px">권한 설정</button></li>
                          <li class="dropdown-list-item"><button class="d-flex w-100 py-6px px-12px">상담/관리 권한</button></li>
                          <li class="dropdown-list-item"><button class="d-flex w-100 py-6px px-12px">역할별 지식관리</button></li>
                          <li class="dropdown-list-item"><button class="d-flex w-100 py-6px px-12px col-red" style="padding-top:4px;margin-top:4px;border-top:1px solid #eee;">삭제</button></li>
                        </ul>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="custom-control custom-checkbox justify-content-center sm">
                      <input type="checkbox" class="custom-control-input" id="list_check1">
                      <label class="custom-control-label" for="list_check1"></label>
                    </div>
                  </td>
                  <td class="text-left">
                    시스템 관리자
                  </td>
                  <td class="text-left">관리도구전용</td>
                  <td class="text-left">관리도구전용</td>
                  <td class="txt-right">
                    <div class="d-flex justify-content-end">
                      <button type="button" class="dropdown-toggle button button-ghost button-sm ico-only ml-8px" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-label="메뉴 더보기">
                        <svg class="ico ico-sm ico-lightgray" role="presentation" aria-hidden="true" focusable="false">
                          <use xlink:href="#ico-more"></use>
                        </svg>
                      </button>
                      <div class="dropdown-menu dropdown-menu-right  w-140px">
                        <ul class="dropdown-list">
                          <li class="dropdown-list-item"><button class="d-flex w-100 py-6px px-12px"  data-toggle="modal" data-target="#modal-role">역할 수정</button></li>
                          <li class="dropdown-list-item"><button class="d-flex w-100 py-6px px-12px">권한 설정</button></li>
                          <li class="dropdown-list-item"><button class="d-flex w-100 py-6px px-12px">상담/관리 권한</button></li>
                          <li class="dropdown-list-item"><button class="d-flex w-100 py-6px px-12px">역할별 지식관리</button></li>
                          <li class="dropdown-list-item"><button class="d-flex w-100 py-6px px-12px col-red" style="padding-top:4px;margin-top:4px;border-top:1px solid #eee;">삭제</button></li>
                        </ul>
                      </div>
                    </div>
                  </td>
                </tr>


              </tbody>
            </table>
          </div>
        </div>
      </main>
    </div>

    <!-- 모달 : 관리 -->
    @@include('./modal//pop_roleSetting.html')
    <!-- //모달 : 관리 -->
    

    <!-- 모달 : 역할추가 -->
    <div class="modal modal-addRole fade" id="modal-addRole" tabindex="-1" data-backdrop="static" data-keyboard="false" aria-modal="true">
      <div class="modal-dialog w500">
        <div class="modal-content"> 
  
          <div class="modal-header">
            <p class="modal-tit">역할 추가</p>            
            <button type="button" class="close-btn mask-32px" data-dismiss="modal" aria-label="닫기">
              <svg class="ico" role="presentation" aria-hidden="true" focusable="false">
                <use xlink:href="#ico-close"></use>
              </svg>
            </button>
          </div>
  
          <div class="modal-body">
            <article class="cont-area">
              <div class="cont-body">
                <section class="cont-sec">
                  <div class="form-block validate-error">
                    <label for="">역할명</label>
                    <input type="text" placeholder="아이디 입력" value="기본 일반 상담원" class="w-240px">
                    <p class="validate-txt">중복된 역할명이 존재합니다.</p>
                  </div>
                </section>
                <section class="cont-sec">
                  <p class="subtit-md mb-12px">로그인 유형</p>
                  <ul class="form-block">
                    <li class="form-block-item">
                      <div class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" id="radio1" name="sample1" checked="">
                        <label class="custom-control-label" for="radio1"><span>관리도구 전용</span></label>
                      </div>
                    </li>
                    <li class="form-block-item">
                      <div class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" id="radio2" name="sample1">
                        <label class="custom-control-label" for="radio2"><span>어드바이저 + 관리도구</span></label>
                      </div>
                    </li>
                  </ul>
                </section>
                <section class="cont-sec">
                  <p class="subtit-md mb-12px">상담원 권한</p>
                  <ul class="form-block">
                    <li class="form-block-item">
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="check1" checked="">
                        <label class="custom-control-label" for="check1"><span>어드바이저 관리자</span></label>
                      </div>
                    </li>
                    <li class="form-block-item">
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="check2">
                        <label class="custom-control-label" for="check2"><span>어드바이저 상담사</span></label>
                      </div>
                    </li>
                    <li class="form-block-item">
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="check3">
                        <label class="custom-control-label" for="check3"><span>채팅상담솔루션 상담사</span></label>
                      </div>
                    </li>
                  </ul>
                </section>
                <section class="cont-sec">
                  <p class="subtit-md mb-12px">로그인 방식</p>
                  <ul class="form-block">
                    <li class="form-block-item">
                      <div class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" id="radio11" name="sample2" checked="">
                        <label class="custom-control-label" for="radio11"><span>관리도구로 바로 로그인</span></label>
                      </div>
                    </li>
                    <li class="form-block-item">
                      <div class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" id="radio12" name="sample2">
                        <label class="custom-control-label" for="radio12"><span>어드바이저 관리화면으로 바로 로그인</span></label>
                      </div>
                    </li>
                    <li>
                      <div class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" id="radio13" name="sample2">
                        <label class="custom-control-label" for="radio13"><span>어드바이저 상담화면으로 바로 로그인</span></label>
                      </div>
                    </li>
                  </ul>
                </section>
              </div>
            </article>
          </div>  
          <div class="modal-footer">
            <button type="button" class="button button-outline button-lg w-80px" data-dismiss="modal">취소</button>
            <button type="button" class="button button-primary button-lg w-80px" data-dismiss="modal">확인</button>
          </div>
        </div>
      </div>
    </div>
    <!-- //모달 : 역할추가 -->

    <!-- 모달 : 역할상세보기 -->
    <div class="modal modal-detailRole fade" id="modal-detailRole" tabindex="-1" data-backdrop="static" data-keyboard="false" aria-modal="true">
      <div class="modal-dialog w900">
        <div class="modal-content"> 
  
          <div class="modal-header">
            <p class="tit">역할 상세보기</p>            
            <button type="button" class="close-btn mask-32px" data-dismiss="modal" aria-label="닫기">
              <span class="material-icons-round xl">close</span>
            </button>
          </div>
  
          <div class="modal-body">
            <article class="cont-area">
              <div class="cont-body">
                <section class="cont-sec">
                  <div class="role-list-area">
                    <div class="role-list-item">
                      <p class="role-tit">역할명</p>
                      <div class="role-txt">
                        시스템 관리자
                      </div>
                    </div>
                    <div class="role-list-item">
                      <p class="role-tit">로그인 유형</p>
                      <div class="role-txt">
                        관리도구 전용
                      </div>
                    </div>
                    <div class="role-list-item">
                      <p class="role-tit">상담원 권한</p>
                      <div class="role-txt">
                        어드바이저 상담사, 채팅상담솔루션 상담사, 어드바이저 관리자
                      </div>
                    </div>
                    <div class="role-list-item">
                      <p class="role-tit">로그인 방식</p>
                      <div>
                        관리도구로 바로 로그인
                      </div>
                    </div>
                  </div>
                </section>

                <section class="cont-sec">
                  <p class="h4 tit">계정 목록</p>
                  <div class="table-area">
                    <table class="table-wrap">
                      <colgroup>                        
                        <col style="width:140px">
                        <col style="width:80px">
                        <col style="width:140px">
                        <col style="width:140px">
                        <col style="width:20%">
                        <col style="">
                      </colgroup>
                      <thead>
                        <tr class="text-center">
                          <th>사용자계정(ID)</th>
                          <th>이름</th>
                          <th>내선번호</th>
                          <th>사번</th>
                          <th>부서</th>
                          <th>부서 코드</th>
                        </tr>
                      </thead>
                      <tbody class="text-center">
                        <tr>
                          <td>
                            <button type="button" class="text-link" data-toggle="modal" data-target="#modal_viewAccount">Verstappen</button>
                          </td>
                          <td>홍길동</td>
                          <td>123456789</td>
                          <td>C1234567890</td>
                          <td>솔루션1팀</td>
                          <td class="text-left">단기채권팀 &gt; G430 &gt; T431</td>
                        </tr>
                        <tr>
                          <td>
                            <button type="button" class="text-link" data-toggle="modal" data-target="#modal_viewAccount">Verstappen</button>
                          </td>
                          <td>홍길동</td>
                          <td>123456789</td>
                          <td>C1234567890</td>
                          <td>솔루션1팀</td>
                          <td class="text-left">단기채권팀 &gt; G430 &gt; T431</td>
                        </tr>
                        <tr>
                          <td>
                            <button type="button" class="text-link" data-toggle="modal" data-target="#modal_viewAccount">Verstappen</button>
                          </td>
                          <td>홍길동</td>
                          <td>123456789</td>
                          <td>C1234567890</td>
                          <td>솔루션1팀</td>
                          <td class="text-left">단기채권팀 &gt; G430 &gt; T431</td>
                        </tr>
                        <tr>
                          <td>
                            <button type="button" class="text-link" data-toggle="modal" data-target="#modal_viewAccount">Verstappen</button>
                          </td>
                          <td>홍길동</td>
                          <td>123456789</td>
                          <td>C1234567890</td>
                          <td>솔루션1팀</td>
                          <td class="text-left">단기채권팀 &gt; G430 &gt; T431</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </section>
              </div>
            </article>
          </div>  
          <div class="modal-footer">            
            <button type="button" class="btn-primary xl" data-dismiss="modal">확인</button>
          </div>
        </div>
      </div>
    </div>
    <!-- //모달 : 역할상세보기 -->

    <!-- 모달 : 계정상세보기 -->
    <div class="modal modal-account-view fade" id="modal_viewAccount" tabindex="-1" data-backdrop="static" data-keyboard="false" aria-modal="true">
      <div class="modal-dialog w600">
        <div class="modal-content"> 
  
          <div class="modal-header">
            <p class="tit">계정 상세보기</p>            
            <button type="button" class="close-btn mask-32px" data-dismiss="modal" aria-label="닫기">
              <span class="material-icons-round xl">close</span>
            </button>
          </div>
  
          <div class="modal-body">

            <div class="account-area">
              <div class="form-block account-item">
                <label>사용자 아이디</label>
                <div class="form-area">
                  <p class="read-txt">Verstappen</p>
                </div>
              </div>
              <div class="form-block account-item">
                <label>사용자 이름</label>
                <div class="form-area">
                  <p class="read-txt">홍길순</p>
                </div>
              </div>
              <div class="form-block account-item">
                <label>역할</label>
                <div class="form-area">
                  <p class="read-txt">상담어드바이저 관리자</p>
                </div>
              </div>
              <div class="form-block account-item">
                <label>내선번호</label>
                <div class="form-area">
                  <p class="read-txt">3323</p>
                </div>
              </div>

              <div class="sub-field">
                <div class="form-block account-item">
                  <label>부서 정보</label>
                  <div class="form-area">
                    <p class="read-txt">솔루션 1팀</p>
                  </div>
                </div>
                <div class="form-block account-item">
                  <label>사번</label>
                  <div class="form-area">
                    <p class="read-txt">C12345678</p>
                  </div>
                </div>
                <div class="form-block account-item">
                  <label>부_내선번호</label>
                  <div class="form-area">
                    <p class="read-txt">3321</p>
                  </div>
                </div>
                <div class="form-block account-item">
                  <label>담당 업무</label>
                  <div class="form-area">
                    <p class="read-txt">QA</p>
                  </div>
                </div>
                <div class="form-block account-item">
                  <label>상담관리자 여부</label>
                  <div class="form-area">
                    <p class="read-txt">Y</p>
                  </div>
                </div>
                <div class="form-block account-item">
                  <label>계정 잠금여부</label>
                  <div class="form-area">
                    <p class="read-txt">잠금</p>
                  </div>
                </div>
                <div class="form-block account-item">
                  <label>계정 잠금일시</label>
                  <div class="form-area">
                    <p class="read-txt">2024.01.12. 16:43:32</p>
                  </div>
                </div>
                <div class="form-block account-item">
                  <label>계정 잠금사유</label>
                  <div class="form-area">
                    <p class="read-txt">상담원 휴가</p>
                  </div>
                </div>
                <div class="form-block account-item">
                  <label>계정 생성일</label>
                  <div class="form-area">
                    <p class="read-txt">2024.01.12. 16:43:32
                    </p>
                  </div>
                </div>
                <div class="form-block account-item">
                  <label>최근 로그인 일시</label>
                  <div class="form-area">
                    <p class="read-txt">
                      2024.01.12. 16:43:32
                    </p>
                  </div>
                </div>
                <div class="form-block account-item">
                  <label>최근  비밀번호 수정일</label>
                  <div class="form-area">
                    <p class="read-txt">
                      2024.01.12. 16:43:32
                    </p>
                  </div>
                </div>
                <div class="form-block account-item">
                  <label>계정 수정일</label>
                  <div class="form-area">
                    <p class="read-txt">
                      2024.01.12. 16:43:32
                    </p>
                  </div>
                </div>
              </div>
              
            </div>
          </div>  
          <div class="modal-footer">            
            <button type="button" class="btn-primary xl" data-dismiss="modal">확인</button>
          </div>
        </div>
      </div>
    </div>
    <!-- //모달 : 계정상세보기 -->

    <!-- //모달 :  상담사 편집 -->
    <div class="modal modal-counselor-edit fade" id="modal-counselor-edit" tabindex="-1" data-backdrop="static" data-keyboard="false" aria-modal="true">
      <div class="modal-dialog w800">
        <div class="modal-content"> 
  
          <div class="modal-header">
            <p class="modal-tit">상담사 목록 편집</p>            
            <button type="button" class="close-btn mask-32px" data-dismiss="modal" aria-label="닫기">
              <span class="material-icons-round xl">close</span>
            </button>
          </div>
  
          <div class="modal-body">

            <div class="d-flex align-items-center">
              <div class="w-50">
                <div class="d-flex align-items-center mb-8px">
                  <p class="subtit-md">등록된 상담사 목록</p>
                  <!-- <button type="button" class="btn-primary ml-auto">
                    <span class="material-icons-round">add</span>
                    추가
                  </button> -->
                </div>
                <div class="memberList-wrap">
                  <div class="memberList-head">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="sampleCheck1">
                      <label class="custom-control-label" for="sampleCheck1"><span>전체선택</span></label>
                    </div>
                    <div class="d-flex">
                      <input class="w-160px sm" type="text" placeholder="아이디(상담사명)" value="">
                      <button type="button" class="button button-outline button-sm ml-6px">검색</button>
                    </div>
                  </div>
                  <div class="memberList-area">
                    <ul>
                      <li>
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="sampleCheck1">
                          <label class="custom-control-label" for="sampleCheck1"><span>홍길동 (L235671 서울 상담 1센터)</span></label>
                        </div>
                      </li>
                      <li>
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="sampleCheck1">
                          <label class="custom-control-label" for="sampleCheck1"><span>홍길동 (L235671 서울 상담 1센터)</span></label>
                        </div>
                      </li>
                      <li>
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="sampleCheck1">
                          <label class="custom-control-label" for="sampleCheck1"><span>홍길동 (L235671 서울 상담 1센터)</span></label>
                        </div>
                      </li>
                      <li>
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="sampleCheck1">
                          <label class="custom-control-label" for="sampleCheck1"><span>홍길동 (L235671 서울 상담 1센터)</span></label>
                        </div>
                      </li>
                      <li>
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="sampleCheck1">
                          <label class="custom-control-label" for="sampleCheck1"><span>홍길동 (L235671 서울 상담 1센터)</span></label>
                        </div>
                      </li>
                      <li>
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="sampleCheck1">
                          <label class="custom-control-label" for="sampleCheck1"><span>홍길동 (L235671 서울 상담 1센터)</span></label>
                        </div>
                      </li>
                      <li>
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="sampleCheck1">
                          <label class="custom-control-label" for="sampleCheck1"><span>홍길동 (L235671 서울 상담 1센터)</span></label>
                        </div>
                      </li>
                      <li>
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="sampleCheck1">
                          <label class="custom-control-label" for="sampleCheck1"><span>홍길동 (L235671 서울 상담 1센터)</span></label>
                        </div>
                      </li>
                      <li>
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="sampleCheck1">
                          <label class="custom-control-label" for="sampleCheck1"><span>홍길동 (L235671 서울 상담 1센터)</span></label>
                        </div>
                      </li>
                      <li>
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="sampleCheck1">
                          <label class="custom-control-label" for="sampleCheck1"><span>홍길동 (L235671 서울 상담 1센터)</span></label>
                        </div>
                      </li>
                      <li>
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="sampleCheck1">
                          <label class="custom-control-label" for="sampleCheck1"><span>홍길동 (L235671 서울 상담 1센터)</span></label>
                        </div>
                      </li>
                      <li>
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="sampleCheck1">
                          <label class="custom-control-label" for="sampleCheck1"><span>홍길동 (L235671 서울 상담 1센터)</span></label>
                        </div>
                      </li>
                      <li>
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="sampleCheck1">
                          <label class="custom-control-label" for="sampleCheck1"><span>홍길동 (L235671 서울 상담 1센터)</span></label>
                        </div>
                      </li>
                      <li>
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="sampleCheck1">
                          <label class="custom-control-label" for="sampleCheck1"><span>홍길동 (L235671 서울 상담 1센터)</span></label>
                        </div>
                      </li>
                      <li>
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="sampleCheck1">
                          <label class="custom-control-label" for="sampleCheck1"><span>홍길동 (L235671 서울 상담 1센터)</span></label>
                        </div>
                      </li>
                      <li>
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="sampleCheck1">
                          <label class="custom-control-label" for="sampleCheck1"><span>홍길동 (L235671 서울 상담 1센터)</span></label>
                        </div>
                      </li>
                      <li>
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="sampleCheck1">
                          <label class="custom-control-label" for="sampleCheck1"><span>홍길동 (L235671 서울 상담 1센터)</span></label>
                        </div>
                      </li>
                      <li>
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="sampleCheck1">
                          <label class="custom-control-label" for="sampleCheck1"><span>홍길동 (L235671 서울 상담 1센터)</span></label>
                        </div>
                      </li>
                      <li>
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="sampleCheck1">
                          <label class="custom-controlbtn-outline ml-6px-label" for="sampleCheck1"><span>홍길동 (L235671 서울 상담 1센터)</span></label>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>

              <div class="arrow-icon-area mx-12px">
                <!-- 상담사 목록에서 1개 이상 체크해야 활성화 -->
                <button class="button button-outline button-lg ico-only">
                  <svg class="ico ico-lg" role="presentation" aria-hidden="true" focusable="false">
                    <use xlink:href="#ico-arr_right"></use>
                  </svg>
                </button>
              </div>

              <div class="w-50">
                <div class="d-flex align-items-center mb-8px">
                  <p class="subtit-md">상담사 목록</p>
                  <button type="button" class="text-link ml-auto">전체 삭제</button>
                </div>
                <div class="memberList-wrap add">
                  <div class="memberList-area">
                    <ul>
                      <li class="d-flex">
                        <span>홍길동 (L235671 서울 상담 1센터)</span>
                        <button type="button" class="mask-20px">
                          <svg class="ico ico-sm" role="presentation" aria-hidden="true" focusable="false">
                            <use xlink:href="#ico-close"></use>
                          </svg>
                        </button>
                      </li>
                      <li class="d-flex">
                        <span>홍길동 (L235671 서울 상담 1센터)</span>
                        <button type="button" class="mask-20px">
                          <svg class="ico ico-sm" role="presentation" aria-hidden="true" focusable="false">
                            <use xlink:href="#ico-close"></use>
                          </svg>
                        </button>
                      </li>
                      <li class="d-flex">
                        <span>홍길동 (L235671 서울 상담 1센터)</span>
                        <button type="button" class="mask-20px">
                          <svg class="ico ico-sm" role="presentation" aria-hidden="true" focusable="false">
                            <use xlink:href="#ico-close"></use>
                          </svg>
                        </button>
                      </li>
                      <li class="d-flex">
                        <span>홍길동 (L235671 서울 상담 1센터)</span>
                        <button type="button" class="mask-20px">
                          <svg class="ico ico-sm" role="presentation" aria-hidden="true" focusable="false">
                            <use xlink:href="#ico-close"></use>
                          </svg>
                        </button>
                      </li>
                      <li class="d-flex">
                        <span>홍길동홍길동홍길동홍길동 (L235671 서울 상담 1센터)</span>
                        <button type="button" class="mask-20px">
                          <svg class="ico ico-sm" role="presentation" aria-hidden="true" focusable="false">
                            <use xlink:href="#ico-close"></use>
                          </svg>
                        </button>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>


          </div>  
          <div class="modal-footer">            
            <button type="button" class="button button-outline button-lg w-80px" data-dismiss="modal">취소</button>
            <button type="button" class="button button-primary button-lg w-80px" data-dismiss="modal">저장</button>
          </div>
        </div>
      </div>
    </div>
    <!-- //모달 :  상담사 편집 -->

    <!-- //모달 :  상담사 역할목록 편집 -->
    <div class="modal modal-counselor-edit fade" id="modal-counselorRole-edit" tabindex="-1" data-backdrop="static" data-keyboard="false" aria-modal="true">
      <div class="modal-dialog w800">
        <div class="modal-content"> 
  
          <div class="modal-header">
            <p class="tit">상담원 역할목록 편집</p>            
            <button type="button" class="close-btn mask-32px" data-dismiss="modal" aria-label="닫기">
              <span class="material-icons-round xl">close</span>
            </button>
          </div>
  
          <div class="modal-body">

            <div class="d-flex align-items-center">
              <div class="w-50">
                <div class="d-flex align-items-center mb-8px">
                  <p class="h4">등록된 상담원 역할목록</p>
                  <!-- <button type="button" class="btn-primary ml-auto">
                    <span class="material-icons-round">add</span>
                    추가
                  </button> -->
                </div>
                <div class="memberList-wrap">
                  <div class="memberList-head">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="sampleCheck1">
                      <label class="custom-control-label" for="sampleCheck1"><span>전체선택</span></label>
                    </div>
                  </div>
                  <div class="memberList-area">
                    <ul>
                      <li>
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="sampleCheck1" checked>
                          <label class="custom-control-label" for="sampleCheck1"><span>일반 상담원</span></label>
                        </div>
                      </li>
                      <li>
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="sampleCheck1">
                          <label class="custom-control-label" for="sampleCheck1"><span>다이퀘스트 상담원</span></label>
                        </div>
                      </li>
                      <li>
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="sampleCheck1">
                          <label class="custom-control-label" for="sampleCheck1"><span>서울 상담 1센터</span></label>
                        </div>
                      </li>
                      <li>
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="sampleCheck1">
                          <label class="custom-control-label" for="sampleCheck1"><span>서울 상담 2센터</span></label>
                        </div>
                      </li>
                      <li>
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="sampleCheck1">
                          <label class="custom-control-label" for="sampleCheck1"><span>대전 상담 1센터</span></label>
                        </div>
                      </li>
                      <li>
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="sampleCheck1">
                          <label class="custom-control-label" for="sampleCheck1"><span>대전 상담 2센터</span></label>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>

              <div class="arrow-icon-area mx-12px">
                <!-- 상담사 목록에서 1개 이상 체크해야 활성화 -->
                <button class="btn-outline ico-only lg">
                  <span class="material-icons-round col-lightgray">arrow_forward_ios</span>
                </button>
              </div>

              <div class="w-50">
                <div class="d-flex align-items-center mb-8px">
                  <p class="h4">상담원 역할목록</p>
                  <button type="button" class="btn-underline ml-auto">전체 삭제</button>
                </div>
                <div class="memberList-wrap add">
                  <div class="memberList-area">
                    <ul>
                      <li class="d-flex">
                        <span>서울 상담 1센터</span>
                        <button type="button" class="mask-20px">
                          <span class="material-icons-round xs col-lightgray">close</span>
                        </button>
                      </li>                      
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>  
          <div class="modal-footer">            
            <button type="button" class="btn-outline xl" data-dismiss="modal">취소</button>
            <button type="button" class="btn-primary xl" data-dismiss="modal">저장</button>
          </div>
        </div>
      </div>
    </div>
    <!-- //모달 :  상담사 역할목록 편집 -->


  </div>

  <div id="ico_svg" data-include="./svg.html" style="display:none"></div>
  <script src="../assets/js/common.js"></script>
  <script src="../assets/lib/ie11CustomProperties.js"></script>

</body>
</html>  
