<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="robots" content="all">
  <title>시스템관리 > 시스템설정</title>
  <link rel=icon href="../assets/images/favicon.ico"> 

  <link rel="stylesheet" href="../assets/lib/bootstrap-4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="../assets/lib/jquery-ui-1.12.1/jquery-ui.min.css">
  <link rel="stylesheet" href="../assets/css/style.css">  
  <!-- 
    [material-icons] npm으로 설치해주세요.
    https://github.com/marella/material-icons?tab=readme-ov-file#readme
  -->
  <link rel="stylesheet" href="../../node_modules/material-icons/iconfont/material-icons.css">

  <script src="../assets/lib/jquery-3.3.1/jquery-3.3.1.min.js"></script>
  <script src="../assets/lib/jquery-ui-1.12.1/jquery-ui.min.js"></script>
  <script src="../assets/lib/bootstrap-4.3.1/js/popper.min.js"></script>
  <script src="../assets/lib/bootstrap-4.3.1/js/bootstrap.min.js"></script>
</head>

<body>
  <div id="wrap" class="wrap account-page">
    @@include('./include/header.html')
    <div class="content">
      @@include('./include/lnb.html')

      <main class="main-cont">
        <div class="main-header">
          <div class="breadcrumbs">
            <ul>
              <li><h2>시스템관리</h2></li>
              <li class="arrow">
                <svg class="ico col-lightgray" role="presentation" aria-hidden="true" focusable="false">
                  <use xlink:href="#ico-arr_right"></use>
                </svg>
              </li>
              <li class="current">
                <h2>계정 관리 및 설정</h2>
                <div class="btn-guide-area ml-8px">
                  <button type="button" class="btn-guide mask-20px">
                    <svg class="ico ico-lightgray ico-sm" role="presentation" aria-hidden="true" focusable="false">
                      <use xlink:href="#ico-help"></use>
                    </svg>
                  </button>
                  <div class="guide-tooltip">
                    <div class="inner">
                      <p>
                        내용입력 영역<br>
                        줄바꿈하고 싶으면 <br>
                        br태그로 줄바꿈해서 입력해주세요.
                      </p>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="main-body">
          <div class="util-bar">

            <div class="form-block mr-16px">
              <label for="accountRole">역할</label>
              <select id="accountRole" class="w-160px">
                <option>전체</option>
                <option>역할1</option>
                <option>역할2</option>
              </select>
            </div>
            <div class="form-block mr-16px">
              <label for="">계정유형</label>
              <select class="w-160px">
                <option>전체</option>
                <option>전화상담사</option>
              </select>
            </div>
            <div class="form-block mr-16px">
              <label for="accountAdmin">관리자 여부</label>
              <select id="accountAdmin" class="w-140px">
                <option>전체</option>
                <option>Y</option>
                <option>N</option>
              </select>
            </div>
            <div class="d-flex align-items-end">
              <div class="form-block">
                <label for="accountKeyword">검색어</label>
                <input id="accountKeyword" class="w-180px" type="text" placeholder="검색어 입력" title="검색어 입력" autocomplete="off" >
              </div>
              <button type="submit" class="button  button-outline button-md ml-8px">검색</button>
              <button type="button" class="button button-outline button-md ico-only ml-8px" aria-label="검색 초기화">
                <svg class="ico" role="presentation" aria-hidden="true" focusable="false"><use xlink:href="#ico-refresh"></use></svg>
              </button>
            </div>
          </div>
          <div>
            <div class="table-head-area d-flex justify-content-between align-items-end mb-16px">
              <div class="total_count">
                검색결과 총 <strong>3</strong>건
              </div>
              <div class="d-flex align-item-center">
                <button type="button" class="button button-primary button-md" data-toggle="modal" data-target="#modal_addAccount">
                  <svg class="ico" role="presentation" aria-hidden="true" focusable="false"><use xlink:href="#ico-plus"></use></svg>
                  계정 추가
                </button>
                <button type="button" class="button button-outline disabled ml-8px">
                  선택 삭제
                </button>
                <select class="w-100px ml-8px">
                  <option>10개씩</option>
                  <option>20개씩</option>
                  <option>30개씩</option>
                </select>
                <button type="button" class="dropdown-toggle button button-outline button-md ico-only ml-8px" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-label="메뉴 더보기">
                  <svg class="ico" role="presentation" aria-hidden="true" focusable="false"><use xlink:href="#ico-more"></use></svg>
                </button>
                <div class="dropdown-menu dropdown-menu-right  w-120px">
                  <ul class="dropdown-list">
                    <li class="dropdown-list-item"><button class="d-flex w-100 py-6px px-8px">양식받기</button></li>
                    <li class="dropdown-list-item"><button class="d-flex w-100 py-6px px-8px" data-toggle="modal" data-target="#modal-fileImport">가져오기</button></li>
                    <li class="dropdown-list-item"><button class="d-flex w-100 py-6px px-8px">내보내기</button></li>
                  </ul>
                </div>
              </div>
            </div>
            <div style="position: relative;">
              <!-- <div class="comp-loader">
                <div class="loader">
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                </div>
              </div> -->

              <div class="table-area">

                <table class="table-wrap">
                  <caption class="blind">사용자계정(ID), 이름, 내선번호, 사번, 계정유형, 관리자등록여부, 부서, 부서코드, 역할 정보에 대한 정보 제공 및 수정 및 삭제 기능 제공</caption>
                  <colgroup>
                    <col style="width:50px">
                    <col style="width:80px">
                    <col style="width:120px">
                    <col style="width:120px">
                    <col style="width:120px">
                    <col style="width:100px">
                    <col style="width:120px">
                    <col style="width:calc(100% - 80%)">
                    <col style="width:60px">
                  </colgroup>
                  <thead>
                    <tr class="text-center">
                      <th scope="col">
                        <div class="custom-control custom-checkbox justify-content-center sm">
                          <input type="checkbox" class="custom-control-input" id="list_check1">
                          <label class="custom-control-label" for="list_check1"></label>
                        </div>
                      </th>
                      <th scope="col">이름</th>
                      <th scope="col">사용자계정(ID)</th>
                      <th scope="col">역할정보</th>
                      <th scope="col">계정유형</th>
                      <th scope="col">관리자 등록여부</th>
                      <th scope="col">부서</th>
                      <th scope="col">부서 코드</th>
                      <th scope="col">편집</th>
                    </tr>
                  </thead>
                  <tbody class="text-center">
                    <tr>
                      <td>
                        <div class="custom-control custom-checkbox justify-content-center sm">
                          <input type="checkbox" class="custom-control-input" id="list_check1">
                          <label class="custom-control-label" for="list_check1"></label>
                        </div>
                      </td>
                      <td>홍길동</td>
                      <td>
                        <button type="button" class="text-link" data-toggle="modal" data-target="#modal-viewAccount">Verstappen</button>
                      </td>
                      <td>
                        채팅상담솔루션 상담사
                      </td>
                      <td>전화상담사</td>
                      <td><strong class="col-red">N</strong></td>
                      <td>솔루션1팀</td>
                      <td>단기채권팀 > G430 > T431</td>
                      <td class="text-center">
                        <div class="d-flex justify-content-center">
                          <button
                            type="button"
                            class="button button-ghost button-xs ico-only"
                            data-toggle="modal" data-target="#modal-editAccount"
                            data-tooltip="tooltip" data-placement="top" data-boundary="window" data-original-title="수정"
                          >
                            <svg class="ico ico-lightgray ico-bold" role="presentation" aria-hidden="true" focusable="false">
                              <use xlink:href="#ico-edit"></use>
                            </svg>
                          </button>
                          <button
                            type="button"
                            class="button button-ghost button-xs ico-only"
                            data-tooltip="tooltip" data-placement="top" data-boundary="window" data-original-title="삭제"
                          >
                            <svg class="ico ico-lightgray ico-bold" role="presentation" aria-hidden="true" focusable="false">
                              <use xlink:href="#ico-deleted"></use>
                            </svg>
                          </button>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="custom-control custom-checkbox justify-content-center sm">
                          <input type="checkbox" class="custom-control-input" id="list_check1">
                          <label class="custom-control-label" for="list_check1"></label>
                        </div>
                      </td>
                      <td>홍길동</td>
                      <td>
                        <button type="button" class="text-link" data-toggle="modal" data-target="#modal-viewAccount">Verstappen</button>
                      </td>
                      <td>
                        채팅상담솔루션 상담사
                      </td>
                      <td>전화상담사</td>
                      <td><strong class="col-red">N</strong></td>
                      <td>솔루션1팀</td>
                      <td>단기채권팀 > G430 > T431</td>
                      <td class="text-center">
                        <div class="d-flex justify-content-center">
                          <button
                            type="button"
                            class="button button-ghost button-xs ico-only"
                            data-toggle="modal" data-target="#modal-editAccount"
                            data-tooltip="tooltip" data-placement="top" data-boundary="window" data-original-title="수정"
                          >
                            <svg class="ico ico-lightgray ico-bold" role="presentation" aria-hidden="true" focusable="false">
                              <use xlink:href="#ico-edit"></use>
                            </svg>
                          </button>
                          <button
                            type="button"
                            class="button button-ghost button-xs ico-only"
                            data-tooltip="tooltip" data-placement="top" data-boundary="window" data-original-title="삭제"
                          >
                            <svg class="ico ico-lightgray ico-bold" role="presentation" aria-hidden="true" focusable="false">
                              <use xlink:href="#ico-deleted"></use>
                            </svg>
                          </button>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="custom-control custom-checkbox justify-content-center sm">
                          <input type="checkbox" class="custom-control-input" id="list_check1">
                          <label class="custom-control-label" for="list_check1"></label>
                        </div>
                      </td>
                      <td>홍길동</td>
                      <td>
                        <button type="button" class="text-link" data-toggle="modal" data-target="#modal-viewAccount">Verstappen</button>
                      </td>
                      <td>
                        채팅상담솔루션 상담사
                      </td>
                      <td>전화상담사</td>
                      <td><strong class="col-red">N</strong></td>
                      <td>솔루션1팀</td>
                      <td>단기채권팀 > G430 > T431</td>
                      <td class="text-center">
                        <div class="d-flex justify-content-center">
                          <button
                            type="button"
                            class="button button-ghost button-xs ico-only"
                            data-toggle="modal" data-target="#modal-editAccount"
                            data-tooltip="tooltip" data-placement="top" data-boundary="window" data-original-title="수정"
                          >
                            <svg class="ico ico-lightgray ico-bold" role="presentation" aria-hidden="true" focusable="false">
                              <use xlink:href="#ico-edit"></use>
                            </svg>
                          </button>
                          <button
                            type="button"
                            class="button button-ghost button-xs ico-only"
                            data-tooltip="tooltip" data-placement="top" data-boundary="window" data-original-title="삭제"
                          >
                            <svg class="ico ico-lightgray ico-bold" role="presentation" aria-hidden="true" focusable="false">
                              <use xlink:href="#ico-deleted"></use>
                            </svg>
                          </button>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="custom-control custom-checkbox justify-content-center sm">
                          <input type="checkbox" class="custom-control-input" id="list_check1">
                          <label class="custom-control-label" for="list_check1"></label>
                        </div>
                      </td>
                      <td>홍길동</td>
                      <td>
                        <button type="button" class="text-link" data-toggle="modal" data-target="#modal-viewAccount">Verstappen</button>
                      </td>
                      <td>
                        채팅상담솔루션 상담사
                      </td>
                      <td>전화상담사</td>
                      <td><strong class="col-red">N</strong></td>
                      <td>솔루션1팀</td>
                      <td>단기채권팀 > G430 > T431</td>
                      <td class="text-center">
                        <div class="d-flex justify-content-center">
                          <button
                            type="button"
                            class="button button-ghost button-xs ico-only"
                            data-toggle="modal" data-target="#modal-editAccount"
                            data-tooltip="tooltip" data-placement="top" data-boundary="window" data-original-title="수정"
                          >
                            <svg class="ico ico-lightgray ico-bold" role="presentation" aria-hidden="true" focusable="false">
                              <use xlink:href="#ico-edit"></use>
                            </svg>
                          </button>
                          <button
                            type="button"
                            class="button button-ghost button-xs ico-only"
                            data-tooltip="tooltip" data-placement="top" data-boundary="window" data-original-title="삭제"
                          >
                            <svg class="ico ico-lightgray ico-bold" role="presentation" aria-hidden="true" focusable="false">
                              <use xlink:href="#ico-deleted"></use>
                            </svg>
                          </button>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="custom-control custom-checkbox justify-content-center sm">
                          <input type="checkbox" class="custom-control-input" id="list_check1">
                          <label class="custom-control-label" for="list_check1"></label>
                        </div>
                      </td>
                      <td>홍길동</td>
                      <td>
                        <button type="button" class="text-link" data-toggle="modal" data-target="#modal-viewAccount">Verstappen</button>
                      </td>
                      <td>
                        채팅상담솔루션 상담사
                      </td>
                      <td>전화상담사</td>
                      <td><strong class="col-red">N</strong></td>
                      <td>솔루션1팀</td>
                      <td>단기채권팀 > G430 > T431</td>
                      <td class="text-center">
                        <div class="d-flex justify-content-center">
                          <button
                            type="button"
                            class="button button-ghost button-xs ico-only"
                            data-toggle="modal" data-target="#modal-editAccount"
                            data-tooltip="tooltip" data-placement="top" data-boundary="window" data-original-title="수정"
                          >
                            <svg class="ico ico-lightgray ico-bold" role="presentation" aria-hidden="true" focusable="false">
                              <use xlink:href="#ico-edit"></use>
                            </svg>
                          </button>
                          <button
                            type="button"
                            class="button button-ghost button-xs ico-only"
                            data-tooltip="tooltip" data-placement="top" data-boundary="window" data-original-title="삭제"
                          >
                            <svg class="ico ico-lightgray ico-bold" role="presentation" aria-hidden="true" focusable="false">
                              <use xlink:href="#ico-deleted"></use>
                            </svg>
                          </button>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="custom-control custom-checkbox justify-content-center sm">
                          <input type="checkbox" class="custom-control-input" id="list_check1">
                          <label class="custom-control-label" for="list_check1"></label>
                        </div>
                      </td>
                      <td>홍길동</td>
                      <td>
                        <button type="button" class="text-link" data-toggle="modal" data-target="#modal-viewAccount">Verstappen</button>
                      </td>
                      <td>
                        채팅상담솔루션 상담사
                      </td>
                      <td>전화상담사</td>
                      <td><strong class="col-red">N</strong></td>
                      <td>솔루션1팀</td>
                      <td>단기채권팀 > G430 > T431</td>
                      <td class="text-center">
                        <div class="d-flex justify-content-center">
                          <button
                            type="button"
                            class="button button-ghost button-xs ico-only"
                            data-toggle="modal" data-target="#modal-editAccount"
                            data-tooltip="tooltip" data-placement="top" data-boundary="window" data-original-title="수정"
                          >
                            <svg class="ico ico-lightgray ico-bold" role="presentation" aria-hidden="true" focusable="false">
                              <use xlink:href="#ico-edit"></use>
                            </svg>
                          </button>
                          <button
                            type="button"
                            class="button button-ghost button-xs ico-only"
                            data-tooltip="tooltip" data-placement="top" data-boundary="window" data-original-title="삭제"
                          >
                            <svg class="ico ico-lightgray ico-bold" role="presentation" aria-hidden="true" focusable="false">
                              <use xlink:href="#ico-deleted"></use>
                            </svg>
                          </button>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="custom-control custom-checkbox justify-content-center sm">
                          <input type="checkbox" class="custom-control-input" id="list_check1">
                          <label class="custom-control-label" for="list_check1"></label>
                        </div>
                      </td>
                      <td>홍길동</td>
                      <td>
                        <button type="button" class="text-link" data-toggle="modal" data-target="#modal-viewAccount">Verstappen</button>
                      </td>
                      <td>
                        채팅상담솔루션 상담사
                      </td>
                      <td>전화상담사</td>
                      <td><strong class="col-red">N</strong></td>
                      <td>솔루션1팀</td>
                      <td>단기채권팀 > G430 > T431</td>
                      <td class="text-center">
                        <div class="d-flex justify-content-center">
                          <button
                            type="button"
                            class="button button-ghost button-xs ico-only"
                            data-toggle="modal" data-target="#modal-editAccount"
                            data-tooltip="tooltip" data-placement="top" data-boundary="window" data-original-title="수정"
                          >
                            <svg class="ico ico-lightgray ico-bold" role="presentation" aria-hidden="true" focusable="false">
                              <use xlink:href="#ico-edit"></use>
                            </svg>
                          </button>
                          <button
                            type="button"
                            class="button button-ghost button-xs ico-only"
                            data-tooltip="tooltip" data-placement="top" data-boundary="window" data-original-title="삭제"
                          >
                            <svg class="ico ico-lightgray ico-bold" role="presentation" aria-hidden="true" focusable="false">
                              <use xlink:href="#ico-deleted"></use>
                            </svg>
                          </button>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="custom-control custom-checkbox justify-content-center sm">
                          <input type="checkbox" class="custom-control-input" id="list_check1">
                          <label class="custom-control-label" for="list_check1"></label>
                        </div>
                      </td>
                      <td>홍길동</td>
                      <td>
                        <button type="button" class="text-link" data-toggle="modal" data-target="#modal-viewAccount">Verstappen</button>
                      </td>
                      <td>
                        채팅상담솔루션 상담사
                      </td>
                      <td>전화상담사</td>
                      <td><strong class="col-red">N</strong></td>
                      <td>솔루션1팀</td>
                      <td>단기채권팀 > G430 > T431</td>
                      <td class="text-center">
                        <div class="d-flex justify-content-center">
                          <button
                            type="button"
                            class="button button-ghost button-xs ico-only"
                            data-toggle="modal" data-target="#modal-editAccount"
                            data-tooltip="tooltip" data-placement="top" data-boundary="window" data-original-title="수정"
                          >
                            <svg class="ico ico-lightgray ico-bold" role="presentation" aria-hidden="true" focusable="false">
                              <use xlink:href="#ico-edit"></use>
                            </svg>
                          </button>
                          <button
                            type="button"
                            class="button button-ghost button-xs ico-only"
                            data-tooltip="tooltip" data-placement="top" data-boundary="window" data-original-title="삭제"
                          >
                            <svg class="ico ico-lightgray ico-bold" role="presentation" aria-hidden="true" focusable="false">
                              <use xlink:href="#ico-deleted"></use>
                            </svg>
                          </button>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="custom-control custom-checkbox justify-content-center sm">
                          <input type="checkbox" class="custom-control-input" id="list_check1">
                          <label class="custom-control-label" for="list_check1"></label>
                        </div>
                      </td>
                      <td>홍길동</td>
                      <td>
                        <button type="button" class="text-link" data-toggle="modal" data-target="#modal-viewAccount">Verstappen</button>
                      </td>
                      <td>
                        채팅상담솔루션 상담사
                      </td>
                      <td>전화상담사</td>
                      <td><strong class="col-red">N</strong></td>
                      <td>솔루션1팀</td>
                      <td>단기채권팀 > G430 > T431</td>
                      <td class="text-center">
                        <div class="d-flex justify-content-center">
                          <button
                            type="button"
                            class="button button-ghost button-xs ico-only"
                            data-toggle="modal" data-target="#modal-editAccount"
                            data-tooltip="tooltip" data-placement="top" data-boundary="window" data-original-title="수정"
                          >
                            <svg class="ico ico-lightgray ico-bold" role="presentation" aria-hidden="true" focusable="false">
                              <use xlink:href="#ico-edit"></use>
                            </svg>
                          </button>
                          <button
                            type="button"
                            class="button button-ghost button-xs ico-only"
                            data-tooltip="tooltip" data-placement="top" data-boundary="window" data-original-title="삭제"
                          >
                            <svg class="ico ico-lightgray ico-bold" role="presentation" aria-hidden="true" focusable="false">
                              <use xlink:href="#ico-deleted"></use>
                            </svg>
                          </button>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            @@include('./include/component/pagination.html')
          </div>
        </div>
      </main>
    </div>

    
    @@include('./modal//pop_addAccount.html')<!-- 모달 : 계정추가 -->
    @@include('./modal/pop_editAccount.html')<!-- 모달 : 계정수정 -->
    @@include('./modal/pop_fileImport.html')<!-- 모달 : 가져오기 -->
    @@include('./modal/pop_detailAccount.html')<!-- 모달 : 계정상세보기 -->

    <!-- 모달 : 비밀번호 초기화-->
    <div class="modal modal-resetPw fade" id="modal-resetPw" tabindex="-1" data-backdrop="static" data-keyboard="false" aria-modal="true">
      <div class="modal-dialog w500">
        <div class="modal-content"> 
  
          <div class="modal-header">
            <p class="tit">비밀번호 초기화</p>            
            <button type="button" class="close-btn mask-32px" data-dismiss="modal" aria-label="닫기">
              <span class="material-icons-round xl">close</span>
            </button>
          </div>
  
          <div class="modal-body">
            <p>
              비밀번호가 초기화되었습니다.<br />
              비밀번호 초기화 규칙은 초기화된 날짜 및 아이디의 조합입니다.
            </p>
            <div class="example-area">
              YYYY아이디명MMDD (DD는 해당 숫자의 특수기호)
            </div>
            <p>
              Ex, 2024년 1월 12일 초기화 시,<br />
              2024abcde01!@ (12일 경우 해당 숫자의 특수기호인 !@) 입니다.
            </p>
          </div>  
          <div class="modal-footer">
            <button type="button" class="button-outline xl" data-dismiss="modal">취소</button>
            <button type="button" class="button-primary xl" data-dismiss="modal">확인</button>
          </div>
        </div>
      </div>
    </div>
    <!-- //모달 : 비밀번호 초기화-->
    
    <!-- 모달 : 비밀번호 수정-->
    <div class="modal modal-editPw fade" id="modal-editPw" tabindex="-1" data-backdrop="static" data-keyboard="false" aria-modal="true">
      <div class="modal-dialog w500">
        <div class="modal-content"> 
  
          <div class="modal-header">
            <p class="tit">비밀번호 수정</p>            
            <button type="button" class="close-btn mask-32px" data-dismiss="modal" aria-label="닫기">
              <span class="material-icons-round xl">close</span>
            </button>
          </div>
  
          <div class="modal-body">
            <div class="form-block mb-16px">
              <label class="input-label">
                현재 비밀번호
                <!-- <span class="col-required">*</span> -->
              </label>
              <input type="password" placeholder="비밀번호 입력" value="" class="lg">
              <!-- <p class="validate-txt">중복된 아이디입니다.</p> -->
            </div>

            <div class="form-block mb-16px">
              <label class="input-label">
                새로운 비밀번호
                <!-- <span class="col-required">*</span> -->
              </label>
              <input type="password" placeholder="비밀번호 입력" value="" class="lg">
              <!-- <p class="validate-txt">중복된 아이디입니다.</p> -->
            </div>

            <div class="form-block mb-16px">
              <label class="input-label">
                새로운 비밀번호 확인
                <!-- <span class="col-required">*</span> -->
              </label>
              <input type="password" placeholder="비밀번호 입력" value="" class="lg">
              <!-- <p class="validate-txt">중복된 아이디입니다.</p> -->
            </div>
          </div>  
          <div class="modal-footer">
            <button type="button" class="button-outline xl" data-dismiss="modal">취소</button>
            <button type="button" class="button-primary xl" data-dismiss="modal">저장</button>
          </div>
        </div>
      </div>
    </div>
    <!-- //모달 : 비밀번호 수정-->

  </div>
  <div id="ico_svg" data-include="./svg.html" style="display:none"></div>
  <script src="../assets/js/common.js"></script>
  <script src="../assets/lib/ie11CustomProperties.js"></script>

</body>
</html>