<div class="modal modal-account-view fade" id="modal-viewAccount" tabindex="-1" data-backdrop="static" data-keyboard="false" aria-modal="true">
  <div class="modal-dialog w600">
    <div class="modal-content"> 

      <div class="modal-header">
        <p class="tit">계정 상세보기</p>            
        <button type="button" class="close-btn mask-32px" data-dismiss="modal" aria-label="닫기">
          <svg class="ico ico-lg" role="presentation" aria-hidden="true" focusable="false">
            <use xlink:href="#ico-close"></use>
          </svg>
        </button>
      </div>

      <div class="modal-body">

        <div class="account-area">
          <div class="form-block account-item">
            <label>사용자 아이디</label>
            <div class="form-area">
              <p class="read-txt">Verstappen</p>
            </div>
          </div>
          <div class="form-block account-item">
            <label>사용자 이름</label>
            <div class="form-area">
              <p class="read-txt">홍길순</p>
            </div>
          </div>
          <div class="form-block account-item">
            <label>역할</label>
            <div class="form-area">
              <p class="read-txt">상담어드바이저 관리자</p>
            </div>
          </div>
          <div class="form-block account-item">
            <label>내선번호</label>
            <div class="form-area">
              <p class="read-txt">3323</p>
            </div>
          </div>

          <div class="sub-field">
            <div class="form-block account-item">
              <label>부서 정보</label>
              <div class="form-area">
                <p class="read-txt">솔루션 1팀</p>
              </div>
            </div>
            <div class="form-block account-item">
              <label>사번</label>
              <div class="form-area">
                <p class="read-txt">C12345678</p>
              </div>
            </div>
            <div class="form-block account-item">
              <label>부_내선번호</label>
              <div class="form-area">
                <p class="read-txt">3321</p>
              </div>
            </div>
            <div class="form-block account-item">
              <label>담당 업무</label>
              <div class="form-area">
                <p class="read-txt">QA</p>
              </div>
            </div>
            <div class="form-block account-item">
              <label>상담관리자 여부</label>
              <div class="form-area">
                <p class="read-txt">Y</p>
              </div>
            </div>
            <div class="form-block account-item">
              <label>계정 잠금여부</label>
              <div class="form-area">
                <p class="read-txt">잠금</p>
              </div>
            </div>
            <div class="form-block account-item">
              <label>계정 잠금일시</label>
              <div class="form-area">
                <p class="read-txt">2024.01.12. 16:43:32</p>
              </div>
            </div>
            <div class="form-block account-item">
              <label>계정 잠금사유</label>
              <div class="form-area">
                <p class="read-txt">상담원 휴가</p>
              </div>
            </div>
            <div class="form-block account-item">
              <label>계정 생성일</label>
              <div class="form-area">
                <p class="read-txt">2024.01.12. 16:43:32
                </p>
              </div>
            </div>
            <div class="form-block account-item">
              <label>최근 로그인 일시</label>
              <div class="form-area">
                <p class="read-txt">
                  2024.01.12. 16:43:32
                </p>
              </div>
            </div>
            <div class="form-block account-item">
              <label>최근  비밀번호 수정일</label>
              <div class="form-area">
                <p class="read-txt">
                  2024.01.12. 16:43:32
                </p>
              </div>
            </div>
            <div class="form-block account-item">
              <label>계정 수정일</label>
              <div class="form-area">
                <p class="read-txt">
                  2024.01.12. 16:43:32
                </p>
              </div>
            </div>
          </div>
          
        </div>
      </div>  
      <div class="modal-footer">
        <!-- <button type="button" class="button button-outline button-lg xl w-60px" data-dismiss="modal">취소</button> -->
        <button type="button" class="button button-primary button-lg xl w-60px" data-dismiss="modal">확인</button>
      </div>
    </div>
  </div>
</div>