<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=2.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="robots" content="all">

	<link rel="stylesheet" type="text/css" href="../../assets/lib/bootstrap-4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../../assets/lib/jquery-ui-1.12.1/jquery-ui.min.css">	
  <link rel="stylesheet" type="text/css" href="../../assets/css/style.css">
  <link rel="stylesheet" type="text/css" href="../css/guide.css">
  <link rel="stylesheet" href="../../../node_modules/material-icons/iconfont/material-icons.css">

	<script src="../../assets/lib/jquery-3.3.1/jquery-3.3.1.min.js"></script>
	<script src="../../assets/lib/jquery-ui-1.12.1/jquery-ui.min.js"></script>
	<script src="../../assets/lib/bootstrap-4.3.1/js/popper.min.js"></script>
	<script src="../../assets/lib/bootstrap-4.3.1/js/bootstrap.min.js"></script>

  <!-- syntaxhighlighter -->
  <script type="text/javascript" src="../lib/syntaxhighlighter_3.0.83/scripts/shCore.js"></script>
  <script type="text/javascript" src="../lib/syntaxhighlighter_3.0.83/scripts/shBrushJScript.js"></script>
  <script type="text/javascript" src="../lib/syntaxhighlighter_3.0.83/scripts/shBrushXml.js"></script>
  <script type="text/javascript" src="../lib/syntaxhighlighter_3.0.83/scripts/shBrushCss.js"></script>
  <link type="text/css" rel="stylesheet" href="../lib/syntaxhighlighter_3.0.83/styles/shCore.css"/>
  <link type="text/css" rel="stylesheet" href="../lib/syntaxhighlighter_3.0.83/styles/shThemeDefault.css"/>
</head>

<body>
	<div class="wrap guide-page is-expand">
    <header>
      
      <h1>
        <button type="button" class="button button-ghost button-md ico-only btn-navToggle">
          <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M10.6667 5.83331L6.49999 9.99998M6.49999 9.99998L10.6667 14.1666M6.49999 9.99998L17.5 9.99996M2.5 16.8333L2.5 3.16663" stroke="black" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </button>
        <span>
          Pub System Guide
        </span>
      </h1>
      <div class="button-theme-area">
        <button type="button" aria-label="테마선택" class="button button-fill button-lg ico-only">
          <svg class="ico" role="presentation" aria-hidden="true" focusable="false">
            <use xlink:href="#ico-droplet"></use>
          </svg>
        </button>
        <div class="theme-area">
          <ul>
            <li>
              <input type="radio" name="theme" id="admin-theme-blue" value="blue" checked="">
              <label for="admin-theme-blue">Blue Theme</label>
            </li>
            <li>
              <input type="radio" name="theme" id="admin-theme-yellow" value="yellow">
              <label for="admin-theme-yellow">yellow Theme</label>
            </li>
            <li>
              <input type="radio" name="theme" id="admin-theme-green" value="green">
              <label for="admin-theme-green">Green Theme</label>
            </li>
            <li>
              <input type="radio" name="theme" id="admin-theme-purple" value="purple">
              <label for="admin-theme-purple">Purple Theme</label>
            </li>
            <li>
              <input type="radio" name="theme" id="admin-theme-red" value="red">
              <label for="admin-theme-red">red Theme</label>
            </li>
          </ul>
        </div>
      </div>
    </header>
    <div class="container">
      <nav class="left_area">
        @@include('./include/navi.html')
    
      </nav>	
      <main class="content">
        <!-- @@include('./include/info.html') -->
        @@include('./include/chips.html')
        @@include('./include/variables.html')
        @@include('./include/typography.html')
        @@include('./include/icon.html')
        @@include('./include/buttons.html')
        @@include('./include/inputText.html')
        @@include('./include/inputNumber.html')
        @@include('./include/checkbox.html')
        @@include('./include/colList.html')
        @@include('./include/switch.html')
        @@include('./include/datepicker.html')

        <!-- @@include('./include/select.html')
        @@include('./include/inputNumber.html')
        @@include('./include/checkbox.html')
        @@include('./include/radio.html')
        
        @@include('./include/textarea.html')
        @@include('./include/tabs.html')
        @@include('./include/pagination.html')
        @@include('./include/chips.html')
        @@include('./include/table.html')
        @@include('./include/tooltip.html')
        @@include('./include/modal.html') -->
      </main>
    </div>
  </div>
  
  <!-- <script src="../../assets/js/common.js"></script> -->
  <div id="ico_svg" data-include="../../views/svg.html" style="display:none"></div>
  <script src="../js/common.js"></script>
  
</body>
</html>