<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=2.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="robots" content="all">

	<link rel="stylesheet" type="text/css" href="../../assets/lib/bootstrap-4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../../assets/lib/jquery-ui-1.12.1/jquery-ui.min.css">	
  <link rel="stylesheet" type="text/css" href="../../assets/css/style.css">
  <link rel="stylesheet" type="text/css" href="../css/guide.css">
  <link rel="stylesheet" href="../../../node_modules/material-icons/iconfont/material-icons.css">

	<script src="../../assets/lib/jquery-3.3.1/jquery-3.3.1.min.js"></script>
	<script src="../../assets/lib/jquery-ui-1.12.1/jquery-ui.min.js"></script>
	<script src="../../assets/lib/bootstrap-4.3.1/js/popper.min.js"></script>
	<script src="../../assets/lib/bootstrap-4.3.1/js/bootstrap.min.js"></script>

  <!-- syntaxhighlighter -->
  <script type="text/javascript" src="../lib/syntaxhighlighter_3.0.83/scripts/shCore.js"></script>
  <script type="text/javascript" src="../lib/syntaxhighlighter_3.0.83/scripts/shBrushJScript.js"></script>
  <script type="text/javascript" src="../lib/syntaxhighlighter_3.0.83/scripts/shBrushXml.js"></script>
  <script type="text/javascript" src="../lib/syntaxhighlighter_3.0.83/scripts/shBrushCss.js"></script>
  <link type="text/css" rel="stylesheet" href="../lib/syntaxhighlighter_3.0.83/styles/shCore.css"/>
  <link type="text/css" rel="stylesheet" href="../lib/syntaxhighlighter_3.0.83/styles/shThemeDefault.css"/>
</head>

<body>
	<div class="wrap guide-page">
    <navi class="left_area">      
      <!-- left head start -->
      <div class="left_head">
        <h1>상담어드바이저 관리도구</h1>
      </div>
      <!--// left head end -->
  
      @@include('./include/navi.html')
  
    </navi>	
    <div class="container">
      <div class="right_head">
        <h2 class="float-left"><strong class="ft18">UI 스타일 가이드</strong></h2>    
        <div class="top_util float-right">
          <div class="mt-5px ft12 text-lightgray2">Last Updated : 2024.04.11.</div>
        </div>
      </div>   

      <main class="content">
        <ul class="themeSel-area">
          <li>
            <input type="radio" name="theme" id="admin-theme-blue" value="blue" checked="">
            <label for="admin-theme-blue">Blue Theme</label>
          </li>
          <li>
            <input type="radio" name="theme" id="admin-theme-yellow" value="yellow">
            <label for="admin-theme-yellow">yellow Theme</label>
          </li>
          <li>
            <input type="radio" name="theme" id="admin-theme-green" value="green">
            <label for="admin-theme-green">Green Theme</label>
          </li>
          <li>
            <input type="radio" name="theme" id="admin-theme-purple" value="purple">
            <label for="admin-theme-purple">Purple Theme</label>
          </li>
          <li>
            <input type="radio" name="theme" id="admin-theme-black" value="black">
            <label for="admin-theme-black">Black Theme</label>
          </li>
        </ul>

        @@include('./include/info.html')
        @@include('./include/variables.html')
        @@include('./include/typography.html')
        @@include('./include/icon.html')
        @@include('./include/buttons.html')
        @@include('./include/select.html')
        @@include('./include/inputText.html')
        @@include('./include/inputNumber.html')
        @@include('./include/checkbox.html')
        @@include('./include/radio.html')
        @@include('./include/datepicker.html')
        @@include('./include/textarea.html')
        @@include('./include/tabs.html')
        @@include('./include/pagination.html')
        @@include('./include/chips.html')
        @@include('./include/table.html')
        @@include('./include/tooltip.html')
        @@include('./include/modal.html')
      </main>

      <footer class="dq_footer">Copyright© <strong>NHN diquest</strong>. All Rights Reserved.</footer>
    </div>
  </div>
  
  <!-- <script src="../../assets/js/common.js"></script> -->
  <div id="ico_svg" data-include="../../views/svg.html" style="display:none"></div>
  <script src="../js/common.js"></script>
  
</body>
</html>