<div class="left-panel">
  <ul class="navi">
    <li class="navi-item">
      <a href="javascript:;" class="navi-btn">
        <svg class="ico" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewbox="0 0 20 20" fill="none"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.6" d="M17.5 11.667h-5.833V17.5H17.5v-5.833ZM8.333 11.667H2.5V17.5h5.833v-5.833ZM17.5 2.5h-5.833v5.833H17.5V2.5ZM8.333 2.5H2.5v5.833h5.833V2.5Z"/></svg>
        <span class="label">대시보드</span>
      </a>
    </li>
    <li class="navi-item">
      <a href="javascript:;" class="navi-btn">
        <svg class="ico" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewbox="0 0 20 20" fill="none"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.6" d="M2.5 15v-5a7.5 7.5 0 0 1 15 0v5m0 .833a1.666 1.666 0 0 1-1.667 1.667H15a1.666 1.666 0 0 1-1.667-1.667v-2.5A1.667 1.667 0 0 1 15 11.667h2.5v4.166Zm-15 0A1.666 1.666 0 0 0 4.167 17.5H5a1.667 1.667 0 0 0 1.667-1.667v-2.5A1.667 1.667 0 0 0 5 11.667H2.5v4.166Z"/></svg>
        <span class="label">상담 관리</span>
      </a>
      <div class="sub-menu">
        <ul>
          <li class="navi-item"><a href="javascript:;">콜 목록</a></li>
          <li class="navi-item"><a href="javascript:;">공지사항 관리</a></li>
          <li class="navi-item"><a href="javascript:;">코칭 메세지 관리</a></li>
        </ul>
      </div>			
    </li>
    <li class="navi-item">
      <a href="javascript:;"class="navi-btn">
        <svg class="ico" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewbox="0 0 20 20" fill="none"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.6" d="M19.167 17.5v-1.667a3.334 3.334 0 0 0-2.5-3.225m-2.5 4.892v-1.667a3.333 3.333 0 0 0-3.334-3.333H4.167a3.333 3.333 0 0 0-3.334 3.333V17.5m12.5-14.892a3.333 3.333 0 0 1 0 6.459m-2.5-3.234a3.333 3.333 0 1 1-6.666 0 3.333 3.333 0 0 1 6.666 0Z"/></svg>
        <span class="label">상담사 및 조직 관리</span>
      </a>
      <div class="sub-menu">
        <ul>
          <li class="navi-item"><a href="javascript:;" class="on">계정 관리 및 설정</a></li>
          <li class="navi-item"><a href="javascript:;">채팅상담사</a></li>
          <li class="navi-item"><a href="javascript:;">부서 및 조직 관리</a></li>
        </ul>
      </div>			
    </li>
    <li class="navi-item">
      <a href="javascript:;" class="navi-btn">
        <svg class="ico" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewbox="0 0 20 20" fill="none"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.6" d="M6.667 17.5h6.666M10 14.167V17.5m-6.667-15h13.334c.92 0 1.666.746 1.666 1.667V12.5c0 .92-.746 1.667-1.666 1.667H3.333c-.92 0-1.666-.746-1.666-1.667V4.167c0-.92.746-1.667 1.666-1.667Z"/></svg>
        <span class="label">시스템 관리</span>
      </a>
      <div class="sub-menu">
        <ul>
          <li class="navi-item"><a href="javascript:;">시스템 설정</a></li>
          <li class="navi-item"><a href="javascript:;">어드바이저 설정</a></li>
          <li class="navi-item"><a href="javascript:;">상담유형코드 관리</a></li>
          <li class="navi-item"><a href="javascript:;">장애로그</a></li>
          <li class="navi-item"><a href="javascript:;">활동이력</a></li>
          <li class="navi-item"><a href="javascript:;">계정 관리 및 설정</a></li>
          <li class="navi-item"><a href="javascript:;">역할 관리</a></li>
          <li class="navi-item"><a href="javascript:;">디플랫폼 접속</a></li>
          <li class="navi-item"><a href="javascript:;">인포채터 접속</a></li>
          <li class="navi-item"><a href="javascript:;">시스템 모니터링</a></li>
        </ul>
      </div>				
    </li>			
  </ul>
  <div class="navi-footer">
    <div class="copyright">
      2.7.0.0-SNAPSHOT (1147141a)<br />
      Copyright© DIQUEST.<br />
      All Rights Reserved.
    </div>
  </div>
</div>